{{ define "main" }}
<!-- Include your navbar code here -->

<!-- Content for the 404 page -->
<div class="px-3 bg-dark" style="overflow: hidden">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      height: 80vh;
    "
    class="container d-flex align-items-center justify-content-center flex-column"
  >
    <div class="d-flex flex-row align-items-center mb-5">
      <h1
        class="text-white m-0 fw-bold px-4"
        style="border-right: 2px solid #908a9c"
      >
        404
      </h1>
      <p class="text-white opacity-50 m-0 px-4">
        This page could not be found.
      </p>
    </div>

    <a
      class="btn btn-primary fw-semibold px-4 py-2 mt-4 mb-5"
      href="https://app.genez.io/new-project/"
      target="_blank"
      id="start-for-free-hero"
    >
      Login to DeployApps
    </a>

    <div class="d-flex flex-row align-items-center mt-4">
      <a
        href="https://genezio.com/docs/"
        class="text-white opacity-75 text-decoration-none px-2"
        style="border-right: 2px solid #908a9c"
        >Docs</a
      >
      <a
        href="/blog"
        class="text-white opacity-75 text-decoration-none px-2"
        style="border-right: 2px solid #908a9c"
        >Blog</a
      >
      <a
        href="https://github.com/Genez-io/genezio"
        class="text-white opacity-75 text-decoration-none px-2"
        >GitHub</a
      >
    </div>
  </div>
</div>

<!-- Include your footer code here -->
{{ end }}
