{{ define "main" }}

<div class="px-3">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="container"
  >
    {{/* Header Section */}}
    <div class="d-flex align-items-center justify-content-center flex-column pt-5">
      <h1 style="z-index: 99" class="text-center fw-bold pt-4 text-white display-5">
        The <span class="text-success">next gen</span> <br />
        cloud native platform <br />
        for modern full-stack developers
      </h1>

      <p style="z-index: 99" class="fw-medium mb-4 mt-3 text-white text-center opacity-50">
        Everything you need <br class="d-block d-sm-none" />to build backends
        <br class="d-block d-sm-none" />that scale to millions of users.
      </p>

      <div
        style="z-index: 99"
        class="d-flex mt-4 flex-column flex-md-row w-100 justify-content-center"
      >
        <a
          class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0 mt-2"
          href="https://app.genez.io/auth/signup"
          target="_blank"
        >
          Start for free
        </a>
        <a
          class="btn btn-secondary fw-semibold mx-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
          href="https://docs.genez.io/"
          target="_blank"
        >
          Check our Docs
        </a>
      </div>
    </div>

    {{/* TODO: handle responsive remove this later */}}
    <div style="z-index: 99; position: relative" class="d-none d-sm-block mt-5">
      <img
        class="w-100 mb-5"
        src="/images/hero-3-terminals.svg"
        alt="howGenezioWork"
        style="filter: drop-shadow(0px 50px 30px rgb(0 0 0 / 0.8))"
      />
    </div>

    {{/* big circle */}}
    <div
      class="pe-none"
      style="
        opacity: 30%;
        position: absolute;
        background: #8c68cd;
        box-shadow: 0px 4px 250px 20px #c5b3e6;
        filter: blur(500px);
        max-width: 1000px;
        width: 100%;
        height: 718px;
        top: 625px;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    ></div>

    {{/*
    <div
      style="
        position: absolute;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(
            to right,
            rgba(242, 123, 255, 0.3),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(to left, rgba(0, 250, 164, 0.3), rgba(255, 255, 255, 0));
        background-repeat: no-repeat, no-repeat;
        background-position: left, right;
      "
    >
      ww
    </div>
    */}}

    <div
      class="d-block d-sm-none mb-5"
      style="margin-left: -2em !important; margin-right: -1.8em !important"
    >
      <img
        class="w-100"
        src="/images/hero-3-terminals-mobile.svg"
        alt="howGenezioWork"
        style="filter: drop-shadow(0px 50px 30px rgb(0 0 0 / 0.8))"
      />
    </div>

    {{/* Hosting included for all plans */}}
    <div class="d-flex align-items-center justify-content-center">
      <div
        style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        class="px-5 py-md-5 py-4 d-md-flex"
      >
        <div class="d-flex justify-content-center">
          <img
            style="filter: drop-shadow(0px 64px 85.333px rgba(33, 20, 58, 0.6))"
            src="/images/hostingIncludedIcon.webp"
            alt="hostingIncludedIcon"
          />
        </div>
        <div class="mx-4 my-4"></div>
        <div class="text-white d-flex justify-content-center flex-column">
          <p class="m-0 opacity-50 fw-semibold">Hosting included</p>
          <p class="m-0 opacity-50 fw-medium text-md-start text-center">for all plans</p>
        </div>
      </div>
    </div>

    <hr style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px" />

    {{/* USED AND TRUSTED AT */}}
    <p style="font-size: 12px" class="text-success fw-bold text-center my-4 py-3">
      USED AND TRUSTED AT
    </p>
    <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
      <img
        class="navbar-brand d-none d-md-block"
        alt="multiversx-logo"
        src="/images/multiversx-logo.svg"
      />
      <img class="navbar-brand d-none d-md-block" alt="google-logo" src="/images/google-logo.svg" />
      <img class="navbar-brand d-none d-md-block" alt="splunk-logo" src="/images/splunk-logo.svg" />
      <img class="navbar-brand d-none d-md-block" alt="uipath-logo" src="/images/uipath-logo.svg" />

      <div
        id="carouselExampleInterval"
        class="carousel slide d-block d-sm-block d-md-none"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img
              alt="multiversx-logo"
              src="/images/multiversx-logo.svg"
              class="d-block w-100 custom-brand-img-item"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              alt="google-logo"
              src="/images/google-logo.svg"
              class="d-block w-100 custom-brand-img-item"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              alt="splunk-logo"
              src="/images/splunk-logo.svg"
              class="d-block w-100 custom-brand-img-item"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              alt="uipath-logo"
              src="/images/uipath-logo.svg"
              class="d-block w-100 custom-brand-img-item"
            />
          </div>
        </div>
      </div>
    </div>

    {{/* Your app, your code, your data! */}}
    <div class="position-relative">
      {{/* Header Colors */}} {{/* Left Color */}}
      <div
        class="pe-none"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: -35%;
          transform: translateX(-30%);
          background-image: radial-gradient(
              ellipse at center,
              rgba(242, 123, 255, 0.7),
              transparent
            ),
            radial-gradient(ellipse at left, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <div
        class="pe-none"
        style="
          position: absolute;
          width: 100%;
          height: 600px;
          top: -140px;
          left: 100%;
          width: 150vw;
          transform: translateX(-30%);
          filter: blur(325px);
          background-image: linear-gradient(
            to right,
            rgba(242, 123, 255, 0.2),
            rgba(255, 255, 255, 0) 25%
          );
          background-repeat: no-repeat, no-repeat;
          background-position: center;
        "
      ></div>

      {{/* rgba(242, 123, 255, 0.2), rgba(255, 255, 255, 0) 25% */}} {{/* Right Color */}}
      <div
        class="pe-none"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: 125%;
          transform: translateX(-40%);
          background-image: radial-gradient(ellipse at center, rgba(0, 250, 164, 0.7), transparent),
            radial-gradient(ellipse at right, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      {{/* TODO: replace png -> svg */}}
      <img
        class="d-md-block d-none pe-none"
        src="/images/wave.png"
        style="
          mix-blend-mode: screen;
          filter: grayscale(50%);
          opacity: 0.4;
          position: absolute;
          top: -125px;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
          height: 838px;
        "
        alt="howGenezioWork"
      />

      <div
        class="text-white d-flex align-items-center justify-content-center flex-column mb-4 py-5"
        style="background-color: #422f6a; margin: 0 -12px 0 -12px; position: relative"
      >
        <h2 class="fw-bold text-white display-5 flow-breaker-header py-4 my-2 text-center">
          Your app, <br class="d-block d-sm-none" />your code, <br class="d-block d-sm-none" />your
          data!
        </h2>
        {{/* TODO: fix width */}}
        <p class="text-center opacity-50 fw-medium mt-1 w-50 px-4 flow-breaker-p">
          Use our deterministic template system combined with powerful LLM database creation to get
          started with your code. Enjoy seamless serverless deployment on AWS Lambda, local, dev,
          stage and production environments, typesafe backend APIs to combine with classical REST
          for the best architecture.
        </p>

        <div
          class="d-flex mt-4 pt-2 pb-4 mb-1 flex-column flex-md-row w-100 px-4 justify-content-center"
        >
          <a
            class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0 mt-2"
            href="https://app.genez.io/auth/signup"
            target="_blank"
            >Start for free</a
          >
          <a
            class="btn btn-secondary fw-semibold mx-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
            href="https://docs.genez.io/"
            target="_blank"
          >
            Check our Docs
          </a>
        </div>
      </div>
    </div>

    {{/* Enhance yourself */}}
    <p style="font-size: 12px" class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3">
      FEATURES
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">Enhance yourself</h2>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
              />
            </div>
            <h4 class="card-title pt-2 mb-2 pb-1" style="height: 64px">Get started in 2 minutes</h4>
            <p class="card-text opacity-50 mb-4 pb-3">
              From idea to deployed app - you pick a template for the backend and one for the
              frontend, your choice of mono or multirepo and in 2 minutes you will have everything
              set up!
            </p>
            <a href="#" class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
              />
            </div>
            <h4 class="card-title pt-2 mb-2 pb-1" style="height: 64px">Open Source forever</h4>
            <p class="card-text opacity-50 mb-4 pb-3">
              No vendor lock in. Everything you build with us is code that is yours to own. Template
              code, code generated for the typesafe API, our example code, code generated by our LLM
              tools - all is yours to own and use how you want. Genezio will be open source and will
              integrate with other open source tools forever.
            </p>
            <a href="#" class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
              />
            </div>
            <h4 class="card-title pt-2 mb-2 pb-1" style="height: 64px">Microservice by design</h4>
            <p class="card-text opacity-50 mb-4 pb-3">
              If you started with a Firebase-like framework that offers a database and access
              functions, and you want to outgrow that, with genezio you can write full business
              logic that scales separately. Oftentimes you can move the business logic from the
              frontend to the backend code with minimal changes.
            </p>
            <a href="#" class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            {{/* class="card p-2 p-md-4 text-white" */}}
            <h4 class="card-title m-0">Flexible database support</h4>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h4 class="card-title m-0">Global CDN and Custom Domain</h4>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h4 class="card-title m-0">Automatic scaling</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h4 class="card-title m-0">Postman-like test interface</h4>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h4 class="card-title m-0">LLM database schema generation</h4>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h4 class="card-title m-0">Dashboard - logs</h4>
          </div>
        </div>
      </div>
    </div>

    {{/* Genezio in a nutshell */}} {{- partial "theCode.html" . -}} {{/* Our latest article */}}
    <p style="font-size: 12px" class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3">
      EDUCATION
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">Our latest article</h2>

    <div class="row mx-2 text-white justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <img src="/images/lastArticle.png" alt="howGenezioWork" class="w-100 pb-2" />
      </div>
    </div>

    <hr style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px" class="mt-4" />

    {{/* Testimonials */}}
    <p style="font-size: 12px" class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3">
      TESTIMONIALS
    </p>
    <h2 style="z-index: 99" class="text-white text-center fw-bold mb-4 pb-3 position-relative">
      Don’t take our word for it
    </h2>

    <div style="z-index: 99" class="row mx-2 pb-2 justify-content-center position-relative">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <div
                  style="height: 48px; width: 48px; border: 1px solid red; border-radius: 200px"
                ></div>

                <div class="mx-3 me-0">
                  <p class="mb-0 fw-semibold">Daniel M</p>
                  <p style="font-size: 14px" class="mb-0">CEO @DeFiBuilder</p>
                </div>
              </div>

              <a
                href="https://www.linkedin.com/in/danielgmorosan/"
                target="_blank"
                rel="noopener nofollow"
              >
                <img
                  class="mx-2 footer-social-logo"
                  alt="linkedin-logo"
                  src="/images/linkedin-logo.svg"
                />
              </a>
            </div>

            <p class="mt-4 opacity-50">
              Using their SDK, I was able to deploy complex functionalities with an ease that I
              hadn't experienced before. The integration process is so streamlined and user-friendly
              that even those with a basic understanding of JavaScript can navigate it with
              confidence.
            </p>
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <div
                  style="height: 48px; width: 48px; border: 1px solid red; border-radius: 200px"
                ></div>

                <div class="mx-3 me-0">
                  <p class="mb-0 fw-semibold">Bogdan Ripa</p>
                  <p style="font-size: 14px" class="mb-0">SVP @UiPath</p>
                </div>
              </div>

              <a
                href="https://ro.linkedin.com/in/bogdanripa?challengeId=AQHmQtSaH_8NjwAAAYxojY7p1hJm-A6KoEUxl0PWIvDJj3xaZao1p-x3Rl5ngFWUm4RhK-sIHAc47rA2H14y7OC3mRBHNKHo4A&submissionId=2e7495e6-59b6-a017-3cfc-0dd586fc052b&challengeSource=AgED_pODfV1RJgAAAYxojZVafJ9LSy8eZkMavUQE3xpNxgs92wIXXAjZj2JKcao&challegeType=AgFNxUa21yPqVAAAAYxojZVe0treDzsD03RwagWXln_2WFt2rawtuGQ&memberId=AgHObN7hVorpQwAAAYxojZVhaFHp4cfitmZMHm0VM0GPEXQ&recognizeDevice=AgEDh7YS9If3lAAAAYxojZVk-TRmpqfUsLusiJCbvzhu-S0i_RTX"
                target="_blank"
                rel="noopener nofollow"
              >
                <img
                  class="mx-2 footer-social-logo"
                  alt="linkedin-logo"
                  src="/images/linkedin-logo.svg"
                />
              </a>
            </div>

            <p class="mt-4 opacity-50">
              I used the genezio platform for building and deploying the app, I then had to build a
              node.js module on top of Huawei's FusionSolar website as their official API does not
              allow for real-time data, and used Tesla's unofficial API to change the charging amps
              in real time. The genezio platform was easy to work with and the fact that I could
              build and host it (for now it's free) in such a short time says quite a lot about
              them.
            </p>
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <div
                  style="height: 48px; width: 48px; border: 1px solid red; border-radius: 200px"
                ></div>

                <div class="mx-3">
                  <p class="mb-0 fw-semibold">Teri</p>
                  <p style="font-size: 14px" class="mb-0">@terieynike</p>
                </div>
              </div>

              <img
                class="mx-2 footer-social-logo"
                alt="linkedin-logo"
                src="/images/linkedin-logo.svg"
              />
            </div>

            <p class="mt-4 opacity-50">
              I have used Appwrite twice, and the experience of using it was great as I got to build
              a full-stack application. I would gladly recommend it to anyone looking to explore an
              alternative database option. Appwrite is simply the best.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-4" style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px" />

    {{/* FAQ */}}
    <p
      style="font-size: 12px"
      class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3 position-relative"
      style="z-index: 99"
    >
      FAQ
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3 position-relative" style="z-index: 99">
      Your questions answered
    </h2>

    <div class="px-md-4 mx-1">
      <div
        class="accordion text-white pb-4 position-relative"
        style="border-top: 1px solid rgba(255, 255, 255, 0.1); z-index: 99"
        id="accordionExample"
      >
        {{/* Second Question */}}
        <div class="accordion-item py-2 my-2 text-white">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              I have a website on vercel/netlify. Can you help me?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body px-5 py-2 mx-4">
              Yes! Firstly, design a database using llm. Use javascript to write the backend and
              genezio to deploy it.
            </div>
          </div>
        </div>
        {{/* Second Question */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              I am using firebase and I need a more complex backend
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              We are better than firebase, migrate to genezio
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/* End of main container */}}
  </div>
</div>

<div class="position-relative">
  <div
    class="position-absolute w-100 bottom-0 pe-none"
    style="
      background: linear-gradient(
        180deg,
        rgba(0, 250, 164, 0) 77.17%,
        rgba(0, 250, 164, 0.47) 100%
      );
      height: 5200px;
    "
  ></div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>

{{ end }}
