<nav
  style="border-bottom: 1px solid #e2d9f3; z-index: 99999; background-color: #f1ecf9"
  class="navbar navbar-expand-lg p-0 px-3"
>
  <div
    class="container px-4 py-4"
    style="border-left: 1px solid #e2d9f3; border-right: 1px solid #e2d9f3"
  >
    {{/* LOGO */}}
    <div class="d-flex align-items-center">
      <a class="nav-link" href="/">
        <img class="navbar-brand" alt="genezio-logo" src="/images/genezio-logo-icon-black2.svg" />
      </a>

      {{/* TODO: move svg to a new file */}}
      <svg
        width="12"
        height="32"
        viewBox="0 0 12 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.2"
          d="M8.795 0.729629C8.91628 0.298431 9.3095 0.000480369 9.75743 0.000382141L10.1797 0.000289543C10.8424 0.000144206 11.322 0.633038 11.1426 1.27104L2.7051 31.2707C2.5838 31.702 2.19047 32 1.74247 32L1.32009 32C0.657414 32 0.177996 31.3671 0.357415 30.7292L8.795 0.729629Z"
          fill="black"
        />
      </svg>

      <h4 class="mx-2 px-1 mb-0 d-inline-block">Blog</h4>
    </div>
    {{/* Desktop Links */}}
    <div
      class="collapse navbar-collapse d-flex justify-content-center d-none d-lg-block"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto d-flex justify-content-center">
        <li class="nav-item active">
          <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="#"
            >NEWS</a
          >
        </li>
          <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="#"
            >TUTORIALS</a
          >
        </li>
          <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="#"
            >USE CASES</a
          >
        </li>
        <li class="nav-item">
          <a
            style="color: rgba(0, 0, 0, 0.7)"
            href="/blog/"
            class="nav-link opacity-75 fw-semibold mx-3"
            href="#"
            >LEARNING</a
          >
        </li>
      </ul>
    </div>
    {{/* Desktop Links */}}
    <a
      class="btn btn-primary my-2 my-sm-0 px-4 py-2 fw-semibold"
      style="margin-left: 16px"
      href="https://app.genez.io/auth/signup"
      target="_blank"
      rel="noopener nofollow"
      >Our website</a
    >
  </div>
</nav>
