<nav
  id="navbar"
  style="border-bottom: 1px solid #e2d9f3; z-index: 99999; background-color: #f1ecf9"
  class="navbar navbarEffect navbar-expand-lg p-0 px-3"
>
  <div
    class="container px-4 py-4"
    style="border-left: 1px solid #e2d9f3; border-right: 1px solid #e2d9f3"
  >
    {{/* LOGO */}}
    <div class="d-flex align-items-center">
      <a class="nav-link" href="/">
        <img class="navbar-brand" alt="genezio-logo" src="/images/genezio-logo-icon-black2.svg" />
      </a>

      <img  alt="genezio-logo-line" src="/images/blogHeaderLine.svg" />
      <a class="text-decoration-none text-black"  href="/blog/">
            <h4 class="mx-2 px-1 mb-0 d-inline-block">Blog</h4>
          </a>
    </div>
    {{/* Desktop Links */}}
    <div
      class="collapse navbar-collapse d-flex justify-content-center d-none d-lg-block"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto d-flex justify-content-center">
        <li class="nav-item active">
          <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="/tags/news/"
            >NEWS</a
          >
        </li>
          <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="/tags/tutorials/"
            >TUTORIALS</a
          >
        </li>
        {{/*  TODO: add Use Cases back when we are going to have the first article with this tag  */}}
          {{/*  <a style="color: rgba(0, 0, 0, 0.7)" class="nav-link opacity-75 fw-semibold mx-3" href="/tags/use-cases"
            >USE CASES</a
          >  */}}
        </li>
        <li class="nav-item">
          <a
            style="color: rgba(0, 0, 0, 0.7)"
            class="nav-link opacity-75 fw-semibold mx-3"
            href="/tags/learning/"
            >LEARNING</a
          >
        </li>
      </ul>
    </div>
    {{/* Desktop Links */}}
    <a
      class="btn btn-primary my-2 my-sm-0 px-4 py-2 fw-semibold"
      style="margin-left: 16px"
      href="https://app.genez.io/auth/signup"
      target="_blank"
      rel="noopener nofollow"
      >Our website</a
    >
  </div>
</nav>
