<footer style="border-top: 1px solid rgba(255, 255, 255, 0.1)" class="bg-dark px-3">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="text-white container px-4 py-2"
  >
    {{/* Footer Section 1 */}}
    <div class="row p-4 px-3 pb-0 mt-1 d-flex justify-content-between">
      <div class="col-md-7 p-1 mb-2">
        <a href="/">
          <img
            class="navbar-brand"
            alt="genezio-logo-icon"
            src="/images/genezio-logo-icon.svg"
            width="31px"
            height="34px"
          />
        </a>
      </div>
      <div class="col-md-4 p-1 pb-0">
        <div class="row text-white">
          <div class="col-md-6">
            <p class="fw-medium mb-2 fw-semibold text-success">Resources</p>
            <ul class="list-unstyled">
              <li>
                <a style="font-size: 14px" class="nav-link text-white" href="/blog">Blog</a>
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link text-white"
                  href="https://docs.genez.io/"
                  target="_blank"
                  rel="noopener nofollow"
                  >Docs</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link text-white"
                  href="https://github.com/Genez-io/genezio"
                  target="_blank"
                  rel="noopener nofollow"
                  >Github</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <p class="fw-medium mb-2 fw-semibold text-success">Support</p>
            <ul class="list-unstyled mt-1">
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link text-white"
                  href="mailto:contact@genez.io"
                  >Contact Us</a
                >
              </li>
              <li>
                <a style="font-size: 14px" class="nav-link text-white" href="/privacy-policy/"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a style="font-size: 14px" class="nav-link text-white" href="/eula/"
                  >Terms & Conditions</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link text-white"
                  href="https://drive.google.com/drive/folders/1DUTEllKJygFyO3lsHi4uu703iZfYQHB5"
                  target="_blank"
                  >Brand Assets</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-3 px-1">
      <div class="col p-1">
        <hr style="opacity: 0.1" />
      </div>
    </div>

    {{/* Footer Section 2 */}}
    <div class="row px-3 d-flex justify-content-between">
      <div class="col-md-6 p-1">
        <p class="fw-medium text-success">Subscribe to our newsletter</p>
        <p style="font-size: 14px" class="opacity-50">
          Genezio is a serverless platform for building full-stack web and mobile
          <span class="d-block"></span> applications in a scalable and cost-efficient way.
        </p>
      </div>
      <div class="col-md-6 px-1 ms-0 justify-content-center d-flex flex-sm-column">
        <div class="row justify-content-end w-100">
          <div
            class="col-12 col-md-9 d-flex p-0 mx-1 ms-0 align-items-start align-items-md-center flex-column flex-md-row"
          >
            <form
              id="subscribeForm"
              class="d-flex w-100 align-items-start align-items-md-center flex-column flex-md-row"
            >
              <input
                type="email"
                name="email"
                class="form-control border-0 text-white ms-0"
                id="emailSubscribeInput"
                placeholder="Enter your email"
                style="background-color: rgba(255, 255, 255, 0.1); height: 48px"
              />
              <button
                class="btn btn-primary fw-semibold px-4 py-2 border-0 ms-0 ms-md-2 footer-subscribe-btn-custom"
                style="height: 48px"
                type="submit"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row px-1">
      <div class="col px-1">
        <hr style="opacity: 0.1" />
      </div>
    </div>

    {{/* Footer Section 3 */}}
    <div class="row px-1 pt-2 pb-4 d-flex justify-content-between">
      <div class="col-md-10 px-1">
        <p style="font-size: 14px" class="opacity-50 mt-3">© {{ now.Year }} Genezio Corp.</p>
      </div>
      <div
        class="col-md-2 px-0 d-flex align-items-center justify-content-md-end justify-content-sm-start"
      >
        <a href="{{ .Site.Params.footer.instagram }}" target="_blank" rel="noopener nofollow">
          <img
            class="mx-2 footer-social-logo"
            alt="instagram-logo"
            src="/images/instagram-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a href="{{ .Site.Params.footer.linkedin }}" target="_blank" rel="noopener nofollow">
          <img
            class="mx-2 footer-social-logo"
            alt="linkedin-logo"
            src="/images/linkedin-logo-low-opacity.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a href="{{ .Site.Params.footer.facebook }}" target="_blank" rel="noopener nofollow">
          <img
            class="mx-2 footer-social-logo"
            alt="facebook-logo"
            src="/images/facebook-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a href="{{ .Site.Params.footer.discord }}" target="_blank" rel="noopener nofollow">
          <img
            class="mx-2 footer-social-logo"
            alt="discord-logo"
            src="/images/discord-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  document.getElementById("subscribeForm").addEventListener("submit", function (event) {
    event.preventDefault();

    // reset input value .5 second later
    setTimeout(function () {
      document.getElementById("emailSubscribeInput").value = "";
    }, 500);
  });
</script>
