<footer style="border-top: 1px solid rgba(255, 255, 255, 0.1)" class="bg-dark">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="text-white container p-4"
  >
    {{/* Footer Section 1 */}}
    <div class="row p-4 d-flex justify-content-between">
      <div class="col-md-7 p-1">
        <img class="navbar-brand" alt="genezioLogo" src="/images/genezioLogo.webp" />
      </div>
      <div class="col-md-4 p-1">
        <div class="row">
          <div class="col-md-6">
            <p class="fw-medium fw-semibold text-success">Resources</p>
            <ul class="list-unstyled">
              <li>
                <a style="font-size: 14px" class="nav-link" href="#">Blog</a>
              </li>
              <li><a style="font-size: 14px" class="nav-link" href="#">Docs</a></li>
              <li><a style="font-size: 14px" class="nav-link" href="#">Github</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <p class="fw-medium mb-2 fw-semibold text-success">Help</p>
            <ul class="list-unstyled mt-1">
              <li><a style="font-size: 14px" class="nav-link" href="#">Terms and Conditions</a></li>
              <li>
                <a style="font-size: 14px" class="nav-link" href="#">Frequently Asked Questions</a>
              </li>
              <li><a style="font-size: 14px" class="nav-link" href="#">Support Center</a></li>
              <li><a style="font-size: 14px" class="nav-link" href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-3 px-4">
      <div class="col p-1">
        <hr />
      </div>
    </div>

    {{/* Footer Section 2 */}}
    <div class="row px-4 d-flex justify-content-between">
      <div class="col-md-5 p-1">
        <p class="fw-medium text-success">Subscribe to our newsletter</p>
        <p style="font-size: 14px" class="opacity-50">
          Genezio is a serverless platform for building full-stack web and mobile applications in a
          scalable and cost-efficient way.
        </p>
      </div>
      <div class="col-md-6 px-1">
        <div class="row">
          <div class="col">
            <input
              type="email"
              class="form-control"
              id="emailSubscribeInput"
              placeholder="Enter your email"
              style="background-color: #ffffff1a; border: none; color: white"
            />
          </div>
          <div class="col">
            <button class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0">Subscribe</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row px-4">
      <div class="col px-1">
        <hr />
      </div>
    </div>

    {{/* Footer Section 3 */}}
    <div class="row px-4 py-1 d-flex justify-content-between">
      <div class="col-md-10 px-1">
        <p style="font-size: 14px" class="opacity-50 mt-3">© 2013-2023 Genezio Corp.</p>
      </div>
      <div class="col-md-2 px-0 d-flex align-items-center justify-content-end">
        <a href="#">
          <img class="mx-1" alt="instagramLogo" src="/images/instagram.webp" />
        </a>
        <a href="#">
          <img class="mx-1" alt="linkedinLogo" src="/images/linkedin.webp" />
        </a>
        <a href="#">
          <img class="mx-1" alt="facebookLogo" src="/images/facebook.webp" />
        </a>
        <a href="#">
          <img class="mx-1" alt="discordLogo" src="/images/discord.webp" />
        </a>
      </div>
    </div>
  </div>
</footer>
