
              <p class="text-white opacity-50 mb-0">We parse the backend code you write and store the AST in a database. From there we generate client side stubs in any language.  It's like tRPC but for any backend language to any frontend language.
                </p>
                <p class="text-white opacity-50 mb-0">
                Now supporting <b>JavaSript/TypeScript</b>, with support for <b>DART/Flutter</b>, <b>Kotlin</b>, <b>Swift</b>, GO, Python and others coming soon.
              </p>

              <div class="code-title-genezio ms-4 px-3">client.ts (TypeScript)</div>

                <div class="pre-code-wrapper-genezio px-4 pt-4 py-1">
                {{ $input := `import { HelloworldService, Person } from '@genezio-sdk/helloworld-app';

async function main() {
  const hi = await HelloworldService.hello('John');
  const person: Person = {firstName: 'John', lastName: 'Ronald'};
  const bye = await HelloworldService.bye(person);
}` }}
{{ $opts := dict "style" "base16-snazzy" }}

{{ transform.Highlight $input "typescript" $opts }}
</div>



                <div class="code-title-genezio ms-4 px-3">client.dart (Flutter)</div>
                <div class="pre-code-wrapper-genezio px-4 pt-4 py-1">
                {{ $input := `import 'package:hello_world/sdk/hello_world_service.dart';

void main() async {
  final hi = await HelloWorldService.hello('John');
  final person = Person(firstName: 'John', lastName: 'Ronald');
  final bye = await HelloWorldService.bye(person);
}` }}
{{ $opts := dict "style" "base16-snazzy" }}

{{ transform.Highlight $input "typescript" $opts }}
</div>


                <div class="code-title-genezio ms-4 px-3">client.kt (Kotlin)</div>
                <div class="pre-code-wrapper-genezio px-4 pt-4 py-1">
                {{ $input := `import sdk.HelloWorldService
import sdk.Person

suspend fun sayHi() {
  val hi = HelloWorldService().hello("John")
  val person = Person(firstName = "John", lastName = "Ronald")
  val bye = HelloWorldService().bye(person)
}` }}
{{ $opts := dict "style" "base16-snazzy" }}

{{ transform.Highlight $input "typescript" $opts }}
</div>

                
              <!-- Add code examples or content specific to Rpc Tab 2 -->
          