<nav
  style="border-bottom: 1px solid rgba(255, 255, 255, 0.1)"
  class="navbar navbar-expand-lg p-0 bg-dark"
>
  <div
    class="container px-4 py-4"
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
  >
    <a class="nav-link" href="#">
      <img class="navbar-brand" alt="genezio-logo" src="/images/genezio-logo.svg" />
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="white"
          stroke-opacity="0.7"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white opacity-75 fw-semibold mx-5" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white opacity-75 fw-semibold" href="#">Resources</a>
        </li>
      </ul>

      <div class="d-flex my-2 my-lg-0 d-flex align-items-center">
        <a class="nav-link text-white opacity-75 fw-semibold mx-5" href="#">Login</a>
        <button class="btn btn-primary my-2 my-sm-0 fw-semibold">Start for free</button>
      </div>
    </div>
  </div>
</nav>
