<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Genezio is a serverless platform for building full-stack web and mobile applications in a scalable and cost-efficient way." />
  <meta name="keywords" content="genezio, serverless, platform, full-stack, web, mobile, applications, scalable, cost-efficient" />
  <meta name="author" content="Genezio" />
  <meta name="robots" content="index, follow" />

</head>

{{- partial "libsass" "scss/index.scss" -}}
<title>genezio</title>
