<nav
  style="border-bottom: 1px solid rgba(255, 255, 255, 0.1); z-index: 99999"
  class="navbar navbar-expand-lg p-0 bg-dark px-3"
>
  <div
    class="container px-4 py-4"
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
  >
    <a class="nav-link" href="/">
      <img
        class="navbar-brand"
        alt="genezio-logo"
        src="/images/genezio-logo.svg"
        height="45px"
        width="135px"
      />
    </a>

    {{/* Mobile Menu */}}
    <button
      class="navbar-toggler shadow-none border-0"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
    >
      <img
        src="/images/burger-menu.svg"
        alt="burger-menu-icon"
        height="24px"
        width="24px"
        style="z-index: 9999; position: absolute"
      />
    </button>

    <div
      style="
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: #2a213c;
      "
      class="navbar-collapse collapse"
      id="navbar"
    >
      <img
        style="position: absolute; top: 35px; left: 20px"
        alt="genezio-logo"
        src="/images/genezio-logo.svg"
        height="45px"
        width="135px"
      />
      <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
        <ul class="navbar-nav w-100 d-flex align-items-center px-4 mx-2 fw-semibold">
          <li
            style="border: 1px solid rgba(153, 173, 203, 0.4); border-radius: 6px"
            class="nav-item w-100 d-flex justify-content-center mb-3 mt-1"
          >
            <a style="color: #bfccde" href="#" class="nav-link py-2 my-1">Star us on GitHub</a>
          </li>
          <li
            style="border: 1px solid rgba(153, 173, 203, 0.4); border-radius: 6px"
            class="nav-item w-100 d-flex justify-content-center mb-3 mt-1"
          >
            <a style="color: #bfccde" href="#" class="nav-link py-2 my-1">Features</a>
          </li>
          <li
            style="border: 1px solid rgba(153, 173, 203, 0.4); border-radius: 6px"
            class="nav-item w-100 d-flex justify-content-center mb-3 mt-1"
          >
            <a style="color: #bfccde" href="#" class="nav-link py-2 my-1">Resources</a>
          </li>
          <li
            style="border: 1px solid rgba(153, 173, 203, 0.4); border-radius: 6px"
            class="nav-item w-100 d-flex justify-content-center mb-3 mt-1"
          >
            <a
              style="color: #bfccde"
              href="https://app.genez.io/auth/login"
              target="_blank"
              class="nav-link py-2 my-1"
              >Login</a
            >
          </li>
          <a
            class="btn btn-primary my-sm-0 fw-semibold w-100 py-2 my-1"
            href="https://app.genez.io/auth/signup"
            target="_blank"
            >Start for free</a
          >
        </ul>
      </div>
    </div>
    {{/* Desktop Menu */}}
    <div
      class="collapse navbar-collapse d-flex justify-content-between d-none d-lg-block"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white opacity-75 fw-semibold mx-5" href="#">Features</a>
        </li>
        <li class="nav-item">
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link text-white opacity-75 fw-semibold dropdown-toggle"
                  href="#"
                  id="navbarDarkDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Resources
                </a>
                <ul
                  class="dropdown-menu dropdown-menu position-absolute mt-2"
                  style="background-color: rgba(241, 236, 249, 1); padding: 0px 14px 28px 14px"
                  aria-labelledby="navbarDarkDropdownMenuLink"
                >
                  <svg
                    style="top: -16px; left: 20px"
                    class="position-relative"
                    width="15"
                    height="6"
                    viewBox="0 0 15 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.77073 1.54732C6.30756 0.112948 8.69245 0.11295 10.2293 1.54732L15 6H0L4.77073 1.54732Z"
                      fill="#F1ECF9"
                    />
                  </svg>

                  <li class="mb-2 pb-1">
                    <a class="dropdown-item d-flex" href="/blog/">
                      <img style="height: 24px" src="/images/blog-icon.svg" />
                      <div class="mx-3">
                        <p style="color: #171717" class="m-0 fw-semibold pb-1">Blog</p>
                        <p style="color: #525252; font-size: 12px" class="m-0 fw-normal">
                          A short description for this section
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex"
                      target="_blank"
                      href="https://docs.genez.io/genezio-documentation/"
                    >
                      <img style="height: 24px" src="/images/documentation-icon.svg" />
                      <div class="mx-3">
                        <p style="color: #171717" class="m-0 fw-semibold pb-1">Documentation</p>
                        <p style="color: #525252; font-size: 12px" class="m-0 fw-medium">
                          A short description for this section
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="d-flex my-2 my-lg-0 d-flex align-items-center">
        <a
          href="https://github.com/Genez-io/genezio"
          target="_blank"
          rel="noopener nofollow"
          class="nav-link text-white opacity-75 fw-normal mx-2 px-1 star-effect"
        >
          <svg
            class="star-effect"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.4807 3.4987C11.6729 3.03673 12.3273 3.03673 12.5195 3.4987L14.6454 8.61016C14.7264 8.80492 14.9096 8.93799 15.1199 8.95485L20.6381 9.39724C21.1369 9.43722 21.3391 10.0596 20.9591 10.3851L16.7548 13.9866C16.5946 14.1238 16.5246 14.3391 16.5736 14.5443L17.858 19.9292C17.9741 20.4159 17.4447 20.8005 17.0177 20.5397L12.2933 17.6541C12.1133 17.5441 11.8869 17.5441 11.7069 17.6541L6.98251 20.5397C6.55551 20.8005 6.02606 20.4159 6.14215 19.9292L7.42664 14.5443C7.47558 14.3391 7.40562 14.1238 7.24543 13.9866L3.04111 10.3851C2.66112 10.0596 2.86335 9.43722 3.36209 9.39724L8.88034 8.95485C9.0906 8.93799 9.27375 8.80492 9.35476 8.61016L11.4807 3.4987Z"
              stroke="white"
              stroke-opacity="0.3"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Star on GitHub</a
        >

        <div style="background-color: rgba(255, 255, 255, 0.1); border-radius: 4px">
          <p class="text-white opacity-75 m-0 px-2 py-1">147</p>
        </div>

        <a
          class="nav-link text-white opacity-75 fw-semibold mx-5"
          href="https://app.genez.io/auth/login"
          target="_blank"
          rel="noopener nofollow"
          >Login</a
        >
        <a
          class="btn btn-primary my-2 my-sm-0 fw-semibold"
          href="https://app.genez.io/auth/signup"
          target="_blank"
          rel="noopener nofollow"
          >Start for free</a
        >
      </div>
    </div>
  </div>
</nav>
