{{ $paginator := .Paginator }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

<ul class="pagination d-flex justify-content-between align-items-center mb-0">
  <!-- Left arrow. -->
  <li class="pagination-item pagination-item-previous">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="pagination-link pagination-link-previous">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.75 20.25L8.25 12.75L15.75 5.25"
          stroke="black"
          stroke-opacity="0.6"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
    {{ else }} {{/* disabled */}}
    <span class="pagination-link pagination-link-previous">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.75 20.25L8.25 12.75L15.75 5.25"
          stroke="black"
          stroke-opacity="0.6"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
    {{ end }}
  </li>

  <!-- Current page number. -->
  <li class="pagination-item pagination-item-current">
    <span class="pagination-link">{{ $paginator.PageNumber }}</span>
  </li>

  <!-- Right arrow. -->
  <li class="pagination-item pagination-item-next">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="pagination-link pagination-link-next">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.25 5.25L15.75 12.75L8.25 20.25"
          stroke="black"
          stroke-opacity="0.6"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
    {{ else }} {{/* disabled */}}
    <span class="pagination-link pagination-link-next">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.25 5.25L15.75 12.75L8.25 20.25"
          stroke="black"
          stroke-opacity="0.6"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
    {{ end }}
  </li>
</ul>
<!-- .pagination -->
{{ end }}
