{{ define "header" }}
  {{ $ogImage := "https://genez.io/images/og.jpg" }}
  <meta property="og:image" content="{{ $ogImage }}">
  <meta property="twitter:image" content="{{ $ogImage }}">
{{ end }}

{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-taxonomy-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="px-3" style="background-color: #F1ECF9;">

 <div style="
      border-left: 1px solid #E2D9F3;
      border-right: 1px solid #E2D9F3;
    " class="container">
    <div class="container pt-3">

      {{/*  Header (Last article data)  */}}
      {{ with (index (where site.RegularPages "Type" "posts").ByDate.Reverse 0) }}
      <div class="row my-4 flex-column flex-md-row pb-0 pb-md-3 d-none d-md-flex">
          <div class="col mx-md-3 mx-0 d-flex flex-column justify-content-between">
            <div>
              {{ if .Params.tags }}
            <div class="mb-2 pb-1">
            {{ range .Params.tags }}
            <a class="text-decoration-none blogGradientText fw-bold" style="font-size: 12px;" href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
          </div>
          {{ end }}
              <a class="text-decoration-none" href="{{ .RelPermalink }}">
                <h2 class="text-black fw-bold pt-2 mt-1 mb-0">{{ .Title }}</h2>
                {{/*  start of mobile img preview  */}}
                <div class="col mx-md-3 mx-0 d-block d-md-none d-lg-none">
                  <div 
                  class="position-relative" 
                  >
                  <img
                   src="{{ .Params.thumbnail | relURL }}"
                    style="border-bottom-left-radius: 20px; border-top-right-radius: 20px; margin: 24px 0px 0px 0px;  width: 100%; "
                     />
                  
                        <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left: 10px;">
                            <div class="d-flex align-items-center">
                                <img src="/images/clock-icon.svg" alt="clock-icon"/>
                                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
                            </div>
                        </div>
                    </div>
                </div>
                 {{/*  end of mobile img preview  */}}
                <p style="color: #525252; font-size:18px;" class="fw-medium mt-4">{{ .Params.Preview }}</p>
              </a>
            </div>
            {{/*  Writer Details  */}}
          <div class="d-flex">
            <a href="/author/{{ .Params.author | urlize }}/" class="text-decoration-none">
                <img src="/images/writers/{{ .Params.author | urlize  }}.webp" style="height:  48px; width: 48px; object-fit: cover;" class="rounded-circle" alt="writer-avatar"/>
            </a>
            <div class="d-flex flex-column mx-4">
              <a href="/author/{{ .Params.author | urlize }}/" class="text-decoration-none">
                <p style="font-size: 14px; color: #171717;" class="mb-0 fw-semibold">{{ .Params.author }}</p>
              </a>
              <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
            </div>
          </div>
          </div>
            <div class="col mx-md-3 mx-0 d-none d-md-block">
          <div  
          class="position-relative"
           >
           <a class="text-decoration-none" href="{{ .RelPermalink }}">
             <img src="{{ .Params.thumbnail | relURL }}" class="w-100" style=" border-bottom-left-radius: 20px; border-top-right-radius: 20px;" />
            </a>
               <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left:10px;">
            <div class="d-flex align-items-center">
            <img src="/images/clock-icon.svg" alt="clock-icon"/>
                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
            </div>
          </div>

          </div>
          </div>
      </div>
  {{ end }}

      <hr class="d-none d-md-flex" style="border: 1px solid #E2D9F3; margin: 0 -24px"  />
      
      {{/*  Articles listing  */}}
      <div class="row mt-4 pt-0 pt-md-3">
      {{ $paginator := .Paginate (where .Pages "Type" "posts")  }}
      {{ range $paginator.Pages }}
    {{/*  Card  */}}
    <div class="col-12 col-md-6 col-lg-3 p-0 blogPost" style="border-top-right-radius: 20px; border-bottom-left-radius: 20px; max-width: 390px; width: 100%;  margin: 0px 20px 40px 20px; background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
        {{ if .Params.thumbnail }}
    {{/*  Photo  */}}
    <a class="text-decoration-none" href="{{ .RelPermalink }}">
      <div class="mb-4 position-relative">
          <img
           src="{{ .Params.thumbnail | relURL }}"
            class="w-100" style="border-bottom-left-radius: 20px;border-top-right-radius: 20px;" />
          {{/*  read time  */}}
          <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left:10px;">
            <div class="d-flex align-items-center">
              <img src="/images/clock-icon.svg" alt="clock-icon"/>
                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
            </div>
          </div>
        </div>
    </a>

        {{ end }}

        {{/*  Tag  */}}
        <div class="mx-4 mb-4">
          {{ if .Params.tags }}
          <div class="mb-2 pb-1">
            {{ range .Params.tags }}
            <a class="text-decoration-none blogGradientText fw-bold" style="font-size: 12px;" href="/tags/{{ . | urlize }}/">{{ . }}</a>         
            {{ end }}
          </div>
          {{ end }}

          {{/*  Title & preview  */}}
          <a class="text-decoration-none" href="{{ .RelPermalink }}">
          <div class="mb-4"> 
            <h4 class="text-black mb-0" style="min-height: 64px">
                {{ if gt (len .Title) 46 }}
                    <script>
                      document.write("{{ .Title | safeJS }}".slice(0, 46) + "...");
                    </script>
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </h4>

            <p style="color: #525252; min-height: 72px;" class="mt-4 mb-0">
                {{ if gt (len .Params.preview) 123 }}
                    <script>
                      document.write("{{ .Params.preview | safeJS }}".slice(0, 123) + "...");
                    </script>
                {{ else }}
                    {{ .Params.preview }}
                {{ end }}
            </p>
          </div>
        </a>
        

          {{/*  Writer Details  */}}
          <div class="d-flex">
            {{/*  TODO: avatar placeholder  */}}
                          <a href="/author/{{ .Params.author | urlize }}" class="text-decoration-none">
                            <img src="/images/writers/{{ .Params.author | urlize  }}.webp" style="height:  48px; width: 48px; object-fit: cover;" class="rounded-circle " alt="writer-avatar"/>
                          </a>
            <div class="d-flex flex-column mx-4">
              <a href="/author/{{ .Params.author | urlize }}" class="text-decoration-none">
                <p style="font-size: 14px; color: #171717;" class="mb-0 fw-semibold">{{ .Params.author }}</p>
              </a>
              <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
            </div>
          </div>

        </div>  
    </div>
    {{ end }}
  </div>

  {{/*  start pagination  */}}
  <hr style="border: 1px solid #E2D9F3; margin: 0 -24px"  />
  <div class="row">
    <div class="col-12">
      {{ partial "paginator" . }}
    </div>
  </div>
  {{/*  end pagination  */}}
</div>
 </div>
</div>

</div>
{{ end }}
