{{ define "main" }}


<div class="px-3" style="background-color: #f1ecf9">
  <div
    style="border-left: 1px solid #e2d9f3; border-right: 1px solid #e2d9f3"
    class="container px-2"
  >
    <div class="row px-0 px-md-4">
      <div class="row pt-4 flex-column flex-md-row pb-0 pb-md-3 d-flex">
          <div class="col mx-md-3 mx-0 d-flex flex-column justify-content-center">
            <div>
            {{ if .Params.tags }}
            <div class="mb-2 pb-1">
            {{ range .Params.tags }}
            <a class="text-decoration-none blogGradientText fw-bold" style="font-size: 12px;" href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
          </div>
          {{ end }}
              <a class="text-decoration-none">
                <h1 class="text-black fw-bold pt-2 mt-1 mb-0 fs-2" id="title-headline">{{ .Title }}</h1>
                {{/*  start of mobile img preview  */}}
                <div class="col mx-md-3 mx-0 d-block d-md-none d-lg-none">
                  <div class="position-relative">
                  <img src="{{ .Params.thumbnail | relURL }}" style="border-bottom-left-radius: 20px; border-top-right-radius: 20px; margin: 24px 0px 0px 0px;  width: 100%; " />
                        <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left: 10px;">
                            <div class="d-flex align-items-center">
                                <img src="/images/clock-icon.svg" alt="clock-icon"/>
                                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
            </div>

          {{/*  Writer Details  */}}
          <div class="d-flex my-3">
            <a href="/author/{{ .Params.author | urlize }}" class="text-decoration-none">
              <img src="/images/writers/{{ .Params.author | urlize  }}.webp" style="height:  48px; width: 48px; object-fit: cover;" class="rounded-circle" alt="writer-avatar"/>
            </a>
            <div class="d-flex flex-column mx-4">
              <a href="/author/{{ .Params.author | urlize }}" class="text-decoration-none">
                <p style="font-size: 14px; color: #171717;" class="mb-0 fw-semibold">{{ .Params.author }}</p>
              </a>
              <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
            </div>
          </div>

           {{/* share on */}}
        <div class="d-flex align-items-center mt-2 ">
          <p style="color: rgba(82, 82, 82, 1);" class="date mb-0 ">Share on:</p>

          

          <a class="twitter-share-btn mx-2"
          href="https://twitter.com/intent/tweet?text=https:{{ .Permalink | urlquery }}"
          data-size="large"
          target="_blank"
              >
              <img
            style="border: 1px solid #e2d9f3; cursor: pointer"
            class="rounded-circle p-2 "
            src="/images/twitter-logo-green.svg"
            alt="twitter-icon"
          />
          </a>

          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink | urlquery }}" target="_blank">
          <img
            style="border: 1px solid #e2d9f3; cursor: pointer"
            class="rounded-circle p-2"
            src="/images/linkedin-logo-green.svg"
            alt="linkedin-icon"
          />
        </a>
        </div>
      </div>
          
          <div class="col mx-md-3 mx-0 d-none d-md-block">
          <div class="position-relative">
           <a class="text-decoration-none" >
             <img src="{{ .Params.thumbnail | relURL }}" class="w-100" style=" border-bottom-left-radius: 20px; border-top-right-radius: 20px;" />
            </a>
               <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left:10px;">
            <div class="d-flex align-items-center">
            <img src="/images/clock-icon.svg" alt="clock-icon"/>
                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
            </div>
          </div>

          </div>
          </div>
        </div>
        
        <hr style="border: 1px solid #e2d9f3; margin: 40px -8px 24px -8px" />
        
        <div class="px-3 px-md-4 pt-3 pb-5 d-lg-flex d-block"> 
          {{/* <div class="row px-3 px-md-4 pt-3 pb-5"> */}}
      <div class="articlePost col-lg-8">{{ .Content }}</div> 
      <div class="col-lg-1"></div>
        {{/* Content Sections Menu */}}
        <div id="contentSection" class="articlePost col-lg-3 d-none d-lg-block" style="position: sticky; top: 200px; right: 0; height: 200px; max-width:310px; width: 100%;">
        <p class="fw-semibold" style="opacity: .6;">Article contents</p>
        {{- $headings := findRE "<h2.*?>(.*?)</h2>" .Page.Content -}}
        {{- $counter := 0 -}}
        <ul id="articleContentNavigation" style="list-style: none; padding: 0;">
        
         {{- range $index, $heading := $headings -}}
          {{- $headingText := replaceRE "<.*?>" "" $heading -}} <!-- Remove HTML tags to get the plain text -->
          {{- $headingTextTrimmed := trim $headingText " " -}} <!-- Trim leading and trailing spaces -->
          {{- $headingTextNormalized := replaceRE ":" "" (lower $headingTextTrimmed) -}} <!-- Remove colons and convert to lowercase -->
          {{- $headingTextNormalized := replaceRE "\\s+" "-" $headingTextNormalized -}} <!-- Replace spaces with hyphens -->
          {{- $headingTextNormalized := replaceRE "," "" $headingTextNormalized -}} <!-- Replace spaces with hyphens -->
          {{- $headingTextNormalized := replaceRE "\\?" "" $headingTextNormalized -}} <!-- Remove question marks -->
          {{- $headingTextNormalized := replaceRE "’" "" $headingTextNormalized -}} <!-- Remove single quotes -->
          {{- $headingTextNormalized := replaceRE "/" "" $headingTextNormalized -}} <!-- Remove single quotes -->
          {{- $headingTextNormalized := replaceRE "!" "" $headingTextNormalized -}} <!-- Remove exclamation marks -->
          {{- $headingTextNormalized := replaceRE "\\(" "" $headingTextNormalized -}} <!-- Remove left parentheses -->
          {{- $headingTextNormalized := replaceRE "\\)" "" $headingTextNormalized -}} <!-- Remove right parentheses -->
          {{- $headingTextNormalized := replaceRE "\\." "" $headingTextNormalized -}} <!-- Remove dots -->
          <li style="border-left: 1px solid #D9D9D9;" class="px-4" id="{{ $headingTextNormalized }}">
              <a class="pb-2" style="color: grey; text-decoration: none; font-size: 16px;" href="#{{ $headingTextNormalized }}">{{ $headingText | safeHTML }}</a>
          </li>
          {{- end -}}

        </ul>
        </div>

    </div>

    <!-- Navigation Menu -->
    {{/* Start of Subscribe to our newsletter */}}
    <div class="px-4 pt-3"> 
      <div class="col-lg-8">
        <div
          style="
             background: radial-gradient(
              circle at top left,
            rgba(100, 100, 100, 0) -20%,
            -20%, rgb(111, 66, 193) -10%, 
            #21143a 100%                 
            );
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
          "
          class="text-white p-4 mb-3"
        >
          <div class="p-0 p-sm-3"> 
            <h4 class="mb-4">Subscribe to our newsletter</h4>
            <p style="font-size: 14px">
              <span class="opacity-50">DeployApps is a serverless platform for building</span>
              <span style="color: #99fddb" class="fw-medium"> full-stack web and mobile</span>
              <span class="opacity-50">applications in a scalable and cost-efficient way.</span>
            </p>

            <div
              class="col-12 d-flex p-0 mx-1 ms-0 align-items-start align-items-md-center flex-column flex-md-row pt-4"
            >
              <form
                id="subscribeForm"
                style="position: relative"
                class="d-flex w-100 align-items-start align-items-md-center flex-column flex-md-row"
              >
              <p
                id="successMessage"
                style="position: absolute; top: -30px; display: none;"
                class="text-success"
              >
                Subscribed Successfully
              </p>
                <input
                  type="email"
                  name="email"
                  class="form-control text-white ms-0 blog-input-white"
                  id="emailSubscribeInput"
                  placeholder="Enter your email"
                  style="background-color: transparent; height: 48px; border: 1px solid rgba(255, 255, 255, 0.2);"
                />
                <button
                  class="btn btn-primary fw-semibold px-4 py-2 border-0 ms-0 ms-md-2 footer-subscribe-btn-custom newsletterBtn"
                  style="height: 48px"
                  type="submit"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        {{/* End of Subscribe to our newsletter */}}
      </div>
      </div>
    </div>

    <hr style="border: 1px solid #e2d9f3; margin: 24px -8px 40px -8px" />
        <!-- Start of Navigation Links to Previous and Next Posts -->
        <div class="row px-4 mx-3">
        {{ $allPosts := where site.RegularPages "Type" "posts" }}
        {{ $sortedPosts := $allPosts.ByDate.Reverse }}
        {{ $currentIndex := 0 }}

        {{ range $index, $post := $sortedPosts }}
            {{ if eq .Permalink $.Permalink }}
                {{ $currentIndex = $index }}
            {{ end }}
        {{ end }}

        {{ $prevIndex := add $currentIndex -1 }}
        {{ $nextIndex := add $currentIndex 1 }}

        <div class="col-lg-6 p-0">
            {{ with index $sortedPosts $prevIndex }}
                <a href="{{ .Permalink }}" class="text-decoration-none d-flex align-items-center">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 19.5L8.25 12L15.75 4.5" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    <p  style="color: #009662;" class="fw-medium mx-4 px-3 mb-0">{{ .Title }}</p>
                </a>
            {{ end }}
        </div>

        <div class="col-lg-6 text-right d-flex justify-content-end p-0">
            {{ with index $sortedPosts $nextIndex }}
                <a href="{{ .Permalink }}" class="text-decoration-none d-flex align-items-center">
                  <p style="color: #009662;" class="fw-medium mx-4 px-3 mb-0">{{ .Title }}</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.25 4.5L15.75 12L8.25 19.5" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            {{ end }}
        </div>
    </div>
    <hr style="border: 1px solid #e2d9f3; margin: 40px -8px 40px -8px" />
 <!-- End of Navigation Links to Previous and Next Posts -->
   <div class="row w-100 mx-4 mb-2 pb-4">
      <p style="color: rgba(0, 0, 0, 0.60)" class="m-0 fw-semibold">
        Related articles
      </p>
    </div>

    <div class="row px-1 mx-4 justify-content-center">
    {{ $currentPost := . }}
    {{ $recentPosts := slice }}
    {{ $allPosts := where site.RegularPages "Type" "posts" }}
    {{ $sortedPosts := $allPosts.ByDate.Reverse }}
    {{ $skipCurrent := false }}
    {{ range $sortedPosts }}
        {{ if and (not $skipCurrent) (ne . $currentPost) }}
            {{ $recentPosts = $recentPosts | append . }}
            {{ if eq (len $recentPosts) 3 }}
                {{ $skipCurrent = true }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ range $recentPosts }}
        <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07); background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
               <a class="text-decoration-none" href="{{ .RelPermalink }}">
        <div class="position-relative">
          <img src="{{ .Params.thumbnail | relURL }}" class="w-100" style="border-bottom-left-radius: 20px;border-top-right-radius: 20px;" />
          {{/*  read time  */}}
          <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left:10px;">
            <div class="d-flex align-items-center">
              <img src="/images/clock-icon.svg" alt="clock-icon"/>
                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
            </div>
          </div>
        </div>
    </a>
                <div class="card-body p-4">
                     <div>
          {{ if .Params.tags }}
          <div class="mb-2 pb-1">
            {{ range .Params.tags }}
            <a class="text-decoration-none blogGradientText fw-bold" style="font-size: 12px;" href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
          </div>
          {{ end }}

          {{/*  Title & preview  */}}
          <a class="text-decoration-none" href="{{ .RelPermalink }}">
            <div class="mb-4"> 
              <h4 class="text-black mb-0" style="min-height: 64px">
                  {{ if gt (len .Title) 46 }}
                    <script>
                      document.write("{{ .Title | safeJS }}".slice(0, 46) + "...");
                    </script>
                {{ else }}
                    {{ .Title }}
                {{ end }}
              </h4>
              <p style="color: #525252; min-height: 72px;" class="mt-4 mb-0">
               {{ if gt (len .Params.preview) 123 }}
                    <script>
                      document.write("{{ .Params.preview | safeJS }}".slice(0, 123) + "...");
                    </script>
                {{ else }}
                    {{ .Params.preview }}
                {{ end }}
              </p>
            </div>
          </a>

          {{/*  Writer Details  */}}
          <div class="d-flex">
            <img src="/images/writers/{{ .Params.author | urlize  }}.webp" style="height:  48px; width: 48px; object-fit: cover;" class="rounded-circle " alt="writer-avatar"/>
            <div class="d-flex flex-column mx-4">
              <p style="font-size: 14px; color: #171717;" class="mb-0 fw-semibold">{{ .Params.author }}</p>
              <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
            </div>
          </div>
        </div>  
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{/*  END OF Related articles */}}

    
    <hr style="border: 1px solid #e2d9f3; margin: 32px -8px 40px -8px" />
    
   <div class="row w-100 mx-4 mb-2 pb-4">
      <p style="color: rgba(0, 0, 0, 0.60)" class="m-0 fw-semibold">More from {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}{{ $tag }}{{ end }}</p>
    </div>

    
    {{/*  Start of More from ... section  */}}
    <div class="row px-1 mx-4 justify-content-center">
  {{ if .Params.tags }}
    {{ $tag := index .Params.tags 0 | lower }}
    {{ $relatedPosts := $.Site.Taxonomies.tags.Get $tag }}

    {{ if gt (len $relatedPosts.Pages) 0 }}
      {{ $randomPosts := shuffle $relatedPosts.Pages | first 6 }}
      
      {{ range $index, $post := $randomPosts }}
        {{ if lt $index 3 }}
          <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07);background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
              <div class="card-body p-4">
                {{ with .Params.tags }}
                  {{ range . }}
                    <a class="text-decoration-none fw-bold blogGradientText" style="font-size: 12px" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
                <h4 class="text-black mb-0 mt-2 pt-1" style="min-height: 64px; font-size:18px;"><a class="text-decoration-none text-black" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                {{/* Writer details */}}
                <div class="d-flex flex-column mt-4">
                  <p style="font-size: 14px; color: #171717;" class="mb-0 mt-4 fw-semibold">{{ .Params.author }}</p>
                  <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ else }}
          {{ if eq $index 3 }}
            </div> <!-- Close the first row -->
            <div class="d-none d-lg-block" style="height: 24px;"></div>
            <div class="row px-1 mx-4 justify-content-center pb-4"> <!-- Start the second row -->
          {{ end }}
          <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07);background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
              <div class="card-body p-4">
                {{ with .Params.tags }}
                  {{ range . }}
                    <a class="text-decoration-none fw-bold blogGradientText" style="font-size: 12px" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
                <h4 class="text-black mb-0 mt-2 pt-1" style="height: 64px; font-size:18px;"><a class="text-decoration-none text-black" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                {{/* Writer details */}}
                <div class="d-flex flex-column mt-4">
                  <p style="font-size: 14px; color: #171717;" class="mb-0 mt-4 fw-semibold">{{ .Params.author }}</p>
                  <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
      <div class="pb-2"></div>
    </div> <!-- Close the second row -->
    {{ end }}
  {{ end }}
</div> <!-- Close the main container row -->
</div>

{{/*  map each h2 as an id  */}}
<script>
  document.addEventListener("DOMContentLoaded", function () {

    function adjustContentPosition() { 
      const sections = document.querySelectorAll("h2[id]");
      const contentSection = document.getElementById("contentSection");
      const scrollOffsets = Array.from(sections).map((section) => section.offsetTop - 50);
      const pageWidth = document.documentElement.clientWidth;

    const maxScrollHeight = Math.max(
        document.documentElement.scrollHeight,
        document.body.scrollHeight
    );

      const scrollPosition = window.scrollY;
      const currentSectionIndex = scrollOffsets.findIndex((offset) => offset > scrollPosition);

      if(scrollPosition > 700 && scrollPosition < maxScrollHeight - 2500){
        contentSection.style.position = "fixed";
        contentSection.style.top = "90px";
        const width = window.innerWidth;
        if(width < 1660){
          contentSection.style.right = "calc(7% - 50px)"; 
        }else{
          contentSection.style.right = "calc(20% - 50px)";
        }

      }else{
        contentSection.style.position = "static";
      }

        if (currentSectionIndex) {
        if (currentSectionIndex !== -1) {
            const currentSectionId = sections[currentSectionIndex - 1].id;
            updateUrlSectionId(currentSectionId); // Update URL only if section changes
        } else {
            // If at the bottom, set the URL to the last section
            const lastSectionId = sections[sections.length - 1].id;
            updateUrlSectionId(lastSectionId); // Update URL only if section changes
        }
    }

      {{/*  Add active class for the active li  */}}
      const activeSection = window.location.href.split("#")[1];
      if (activeSection) {
        const activeLi = document.querySelector(`#contentSection ul#articleContentNavigation li#${activeSection}`);
        const allLiElements = document.querySelectorAll("ul#articleContentNavigation li");
        if (activeLi) {
          allLiElements.forEach(li => {
          li.classList.remove("activeSection");
        });
          activeLi.classList.add("activeSection");
        }
      }
    }

    {{/* Track the Previous id and update only if a new one is pushed*/}}
    let currentUrlSectionId = ''; // Variable to store current URL section ID
    // Function to update URL section ID
    function updateUrlSectionId(newSectionId) {
        if (currentUrlSectionId !== newSectionId) {
            window.history.replaceState({}, "", `#${newSectionId}`);
            currentUrlSectionId = newSectionId;
        }
    }

    window.addEventListener("scroll",adjustContentPosition);
    window.addEventListener("resize",adjustContentPosition);
  });
</script>

{{/*  Hubspot add mail  */}}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('subscribeForm');
    const emailInput = document.getElementById('emailSubscribeInput');
    const successMessage = document.getElementById("successMessage");

    form.addEventListener('submit', function(event) {
      event.preventDefault();

      const email = emailInput.value;

      const data = {
        email: email
      };

      const url = 'https://ahkxlexqszfsqoe33tl5im4b4y0umhdv.lambda-url.us-east-1.on.aws/HubSpotService/addContact';
if(email){
      fetch(url, {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          document.getElementById("emailSubscribeInput").value = "";
          successMessage.style.display = "block";
        })
        .catch(error => {
          console.error('Error:', error);
        });
}

    });
  });
</script>

{{/*  Add copy code snippet button   */}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const codeBlocks = document.querySelectorAll('pre code[data-lang="javascript"], pre code[data-lang="typescript"], pre code[data-lang="bash"], pre code[data-lang="css"], pre code[data-lang="ts"], pre code[data-lang="yaml"], pre code[data-lang="cli"], pre code[data-lang="env"], pre code[data-lang="tsx"], pre code[data-lang="python"], pre code[data-lang="html"]');

    codeBlocks.forEach(codeBlock => {
        const copyButton = document.createElement('div');
        copyButton.className = 'copy-button';
        copyButton.innerHTML = `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9999 7.25C19.9999 6.08761 19.1185 5.1311 17.9875 5.0124C17.8688 3.88145 16.9123 3 15.7499 3H14.2499C13.0875 3 12.131 3.88145 12.0123 5.0124C11.1372 5.10424 10.4115 5.69769 10.1279 6.5H12.9999C14.3806 6.5 15.4999 7.61929 15.4999 9V16H17.7499C18.9925 16 19.9999 14.9926 19.9999 13.75V7.25ZM14.2499 4.5C13.8357 4.5 13.4999 4.83579 13.4999 5.25V5.5H16.4999V5.25C16.4999 4.83579 16.1641 4.5 15.7499 4.5H14.2499Z" fill="#404040"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5 8C4.44772 8 4 8.44771 4 9V19C4 19.5523 4.44772 20 5 20H13C13.5523 20 14 19.5523 14 19V9C14 8.44772 13.5523 8 13 8H5ZM11.874 12.166C12.1038 11.8214 12.0107 11.3557 11.666 11.126C11.3214 10.8962 10.8557 10.9893 10.626 11.334L8.13343 15.0728L7.28033 14.2197C6.98744 13.9268 6.51256 13.9268 6.21967 14.2197C5.92678 14.5126 5.92678 14.9874 6.21967 15.2803L7.71967 16.7803C7.87855 16.9392 8.1003 17.0185 8.3239 16.9963C8.5475 16.9742 8.7494 16.853 8.87404 16.666L11.874 12.166Z" fill="#404040"/>
            </svg>
        `;

        copyButton.addEventListener('click', function () {
            const codeText = codeBlock.textContent.trim();
            const lines = codeText.split('\n');

            const pathLines = [
              "server/StripeService.ts",
              "backend/StripeService.ts",
              "client/src/App.tsx",
              "scheduler.ts",
              "server/shoppingCartService.ts",
              "client/src/models.tsx",
              "client/src/App.css",
              "postgres.ts",
              "server/shoppingCartService.ts",
              "server/ecommerceService.ts",
              "server/backendService.ts",
              "server/gptCaller.ts",
              "server/abi.js",
              "server/models/event.js",
              "server/blockchain.js",
              "src/App.js",
              "server/createChatCompletion.js",
              "server/.env",
              ".env",
              "backend.ts",
              "newsletter.ts",
              "server/webscraper.ts",
              "server/src/index.ts",
              "client-ts/src/requests.ts",
              "server/src/book.ts",
              "client-ts/src/App.tsx",
              "server/backend.ts"
              // Add more exclusion conditions here if needed
            ];

            const shouldExclude = pathLines.includes(lines[0]?.trim());

            // Check if the first line is a file path and if is a path exclude it from copy
            if (lines.length > 0 && shouldExclude) {
              lines.shift(); // Remove the first line
            }

            const filteredCodeText = lines.join('\n'); // Join the remaining lines

            const textarea = document.createElement('textarea');
            textarea.textContent = filteredCodeText;

            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            // Change the copy button content to the checkmark SVG for 2 seconds
            copyButton.innerHTML = `
                <svg width="24" height="24" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.916 0.62592C17.2607 0.855684 17.3538 1.32134 17.124 1.66598L8.12404 15.166C7.9994 15.3529 7.7975 15.4742 7.5739 15.4963C7.3503 15.5184 7.12855 15.4392 6.96967 15.2803L0.96967 9.28029C0.676777 8.98739 0.676777 8.51252 0.96967 8.21963C1.26256 7.92673 1.73744 7.92673 2.03033 8.21963L7.38343 13.5727L15.876 0.833932C16.1057 0.489286 16.5714 0.396156 16.916 0.62592Z" fill="#00FAA4"/>
                </svg>
            `;

            // Set the initial copy button content back after 2 seconds
            setTimeout(function () {
                copyButton.innerHTML = `
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9999 7.25C19.9999 6.08761 19.1185 5.1311 17.9875 5.0124C17.8688 3.88145 16.9123 3 15.7499 3H14.2499C13.0875 3 12.131 3.88145 12.0123 5.0124C11.1372 5.10424 10.4115 5.69769 10.1279 6.5H12.9999C14.3806 6.5 15.4999 7.61929 15.4999 9V16H17.7499C18.9925 16 19.9999 14.9926 19.9999 13.75V7.25ZM14.2499 4.5C13.8357 4.5 13.4999 4.83579 13.4999 5.25V5.5H16.4999V5.25C16.4999 4.83579 16.1641 4.5 15.7499 4.5H14.2499Z" fill="#404040"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 8C4.44772 8 4 8.44771 4 9V19C4 19.5523 4.44772 20 5 20H13C13.5523 20 14 19.5523 14 19V9C14 8.44772 13.5523 8 13 8H5ZM11.874 12.166C12.1038 11.8214 12.0107 11.3557 11.666 11.126C11.3214 10.8962 10.8557 10.9893 10.626 11.334L8.13343 15.0728L7.28033 14.2197C6.98744 13.9268 6.51256 13.9268 6.21967 14.2197C5.92678 14.5126 5.92678 14.9874 6.21967 15.2803L7.71967 16.7803C7.87855 16.9392 8.1003 17.0185 8.3239 16.9963C8.5475 16.9742 8.7494 16.853 8.87404 16.666L11.874 12.166Z" fill="#404040"/>
                    </svg>
                `;
            }, 2000);
        });

        codeBlock.parentElement.appendChild(copyButton);
    });
});


</script>

{{/* Add post info for SEO */}}
<script>
  function generateJSON() {
    const headline = document.getElementById('title-headline').textContent;
    const image = document.getElementById("thumbnail").src;
    const date = document.getElementById('publish-date').textContent;
    const author = document.getElementById('author').textContent.trim();
    const linkedInUrl = document.getElementById('linkedin-url').textContent.trim();
    const dateHour = new Date(date).setHours(12,0,0);
    const dateISO = new Date(dateHour).toISOString().split('.')[0] + "+03:00";

    const jsonLd = {
      "@context": "https://schema.org",
      "@type": "TechArticle",
      "headline": headline,
      "image": [
        image
      ],
      "datePublished": dateISO,
      "dateModified": dateISO,
      "author": [{
      "@type": "Person",
      "name": author,
      "url": linkedInUrl
      }],
    }

    const script = document.createElement('script');
    script.type = 'application/ld+json';
    script.text= JSON.stringify(jsonLd);

    document.head.appendChild(script);
  }

  document.addEventListener('DOMContentLoaded', generateJSON);
</script>

<script type="application/ld+json">
 {
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "{{ .Title | htmlEscape }}",
  "image": [
  "{{ .Params.thumbnail  }}"
  ],
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "author": [{
  "@type": "Person",
  "name": "{{ .Params.author }}",
  "url": "{{ .Params.linkedin }}"
  }]
 }
 </script>




{{ end }}