<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="row mb-2">
            <div class="col contact-us-modal-header">
                <h3>Contact us</h3>
            </div>
            <div class="col">
                <div id="closeModalBtn">
                    <span class="close">&times;</span>
                </div>
            </div>
        </div>
        <div class="row contact-us-modal-description mb-3">
            <div class="col">
                Get in touch with us to discuss your requirements, explore custom pricing options, or request a demonstration.
            </div>
        </div>
      <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "144630728",
          formId: "95c38342-3525-47b2-a71b-477a3283eb37"
        });
      </script>
    </div>
  </div>