<footer
  style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
  class="bg-dark px-3"
>
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="text-white container px-4 py-2"
  >
    {{/* Footer Section 1 */}}
    <div class="row p-4 px-3 pb-0 mt-1 d-flex justify-content-between">
      <div class="col-md-3 p-1 mb-2">
        <a href="/">
          <img
            class="navbar-brand"
            alt="genezio-logo-icon"
            src="/images/genezio-logo-icon.svg"
            width="31px"
            height="34px"
          />
        </a>
      </div>

      <div class="col-md-6 p-1 pb-0">
        <div class="row text-white">
          <div class="col-md-3">
            <p class="fw-medium mb-2 fw-semibold text-white opacity-50">
              Services
            </p>
            <ul class="list-unstyled">
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/genezio-typesafe/"
                  >DeployApps Typesafe</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://genezio.com/docs/features/authentication/"
                  target="_blank"
                  >Authentication</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://genezio.com/docs/features/databases/"
                  target="_blank"
                  >Databases</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://genezio.com/docs/genezio-typesafe/cron-methods/"
                  target="_blank"
                  >Cron Jobs</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <p class="fw-medium mb-2 fw-semibold text-white opacity-50">
              Frameworks
            </p>
            <ul class="list-unstyled">
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-nextjs-apps/"
                  >Next</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=nuxt-getting-started"
                  >Nuxt</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-nodejs-express-on-genezio-serverless/"
                  >Express</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=fastify-getting-started"
                  >Fastify</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=react-getting-started"
                  >React</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=angular-getting-started"
                  >Angular</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=vue-getting-started"
                  >Vue</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://app.genez.io/auth/signup?redirect=svelte-getting-started"
                  >Svelte</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-nest-apps/"
                  >Nest</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-remix-apps/"
                  >Remix</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-fastapi-on-genezio-serverless/"
                  >FastAPI</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-flask-on-genezio-serverless/"
                  >Flask</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/deploy-django-on-genezio-serverless/"
                  >Django</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <p class="fw-medium mb-2 fw-semibold text-white opacity-50">
              Resources
            </p>
            <ul class="list-unstyled">
              <li>
                <a style="font-size: 14px" class="nav-link" href="/blog/"
                  >Blog</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://genezio.com/docs/"
                  target="_blank"
                  >Docs</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://github.com/Genez-io/genezio"
                  target="_blank"
                  rel="noopener nofollow"
                  >Github</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <p class="fw-medium mb-2 fw-semibold text-white opacity-50">
              Support
            </p>
            <ul class="list-unstyled mt-1">
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="mailto:contact@genez.io"
                  >Contact Us</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/privacy-policy/"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a style="font-size: 14px" class="nav-link" href="/eula/"
                  >EULA</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://drive.google.com/drive/folders/1DUTEllKJygFyO3lsHi4uu703iZfYQHB5"
                  target="_blank"
                  >Brand Assets</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="https://genezio.statuspage.io/"
                  target="_blank"
                  rel="noopener nofollow"
                  >Status</a
                >
              </li>
              <li>
                <a
                  style="font-size: 14px"
                  class="nav-link"
                  href="/careers/"
                  target="_blank"
                  >Careers</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-3 px-1">
      <div class="col p-1">
        <hr style="opacity: 0.1" />
      </div>
    </div>

    {{/* Footer Section 2 */}}
    <div class="row px-3 d-flex justify-content-between">
      <div class="col-md-6 p-1">
        <p class="fw-medium text-white opacity-50">
          Subscribe to our newsletter
        </p>
        <p style="font-size: 14px; color: #ffffff80">
          DeployApps is a serverless platform for building
          <span style="color: rgba(153, 253, 219, 1)"
            >full-stack web and mobile</span
          >
          <span class="d-block"></span> applications in a scalable and
          cost-efficient way.
        </p>
      </div>
      <div
        class="col-md-6 px-1 ms-0 justify-content-center d-flex flex-sm-column"
      >
        <div class="row justify-content-end w-100">
          <div
            class="col-12 col-md-9 d-flex p-0 mx-1 ms-0 align-items-start align-items-md-center flex-column flex-md-row"
          >
            <form
              id="subscribeForm"
              style="position: relative"
              class="d-flex w-100 align-items-start align-items-md-center flex-column flex-md-row"
            >
              <p
                id="successMessage"
                style="position: absolute; top: -30px; display: none"
                class="text-success"
              >
                Subscribed Successfully
              </p>
              <input
                type="email"
                name="email"
                class="form-control text-white ms-0"
                id="emailSubscribeInput"
                placeholder="Enter your email"
                style="
                  background-color: transparent;
                  height: 48px;
                  border: 1px solid rgba(255, 255, 255, 0.2);
                "
              />
              <button
                class="btn btn-primary fw-semibold px-4 py-2 border-0 ms-0 ms-md-2 footer-subscribe-btn-custom"
                style="height: 48px"
                type="submit"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row px-1">
      <div class="col px-1">
        <hr style="opacity: 0.1" />
      </div>
    </div>

    {{/* Footer Section 3 */}}
    <div class="row px-1 pt-2 pb-4 d-flex justify-content-between">
      <div class="col-md-10 px-1">
        <p style="font-size: 14px" class="opacity-50 mt-3">
          © {{ now.Year }} DeployApps Corp.
        </p>
      </div>
      <div
        class="col-md-2 px-0 d-flex align-items-center justify-content-md-end justify-content-sm-start"
      >
        <a
          href="{{ .Site.Params.footer.instagram }}"
          target="_blank"
          rel="noopener nofollow"
        >
          <img
            class="mx-2 footer-social-logo"
            alt="instagram-logo"
            src="/images/instagram-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a
          href="{{ .Site.Params.footer.linkedin }}"
          target="_blank"
          rel="noopener nofollow"
        >
          <img
            class="mx-2 footer-social-logo"
            alt="linkedin-logo"
            src="/images/linkedin-logo-low-opacity.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a
          href="{{ .Site.Params.footer.facebook }}"
          target="_blank"
          rel="noopener nofollow"
        >
          <img
            class="mx-2 footer-social-logo"
            alt="facebook-logo"
            src="/images/facebook-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
        <a
          href="{{ .Site.Params.footer.discord }}"
          target="_blank"
          rel="noopener nofollow"
        >
          <img
            class="mx-2 footer-social-logo"
            alt="discord-logo"
            src="/images/discord-logo.svg"
            loading="lazy"
            width="24px"
            height="24px"
          />
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("subscribeForm");
    const emailInput = document.getElementById("emailSubscribeInput");
    const successMessage = document.getElementById("successMessage");

    form.addEventListener("submit", function (event) {
      event.preventDefault();

      const email = emailInput.value;
      const data = {
        email: email
      };

      const url =
        "https://ahkxlexqszfsqoe33tl5im4b4y0umhdv.lambda-url.us-east-1.on.aws/HubSpotService/addContact";
      if (email) {
        fetch(url, {
          method: "POST",
          mode: "cors",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            successMessage.style.display = "block";
            document.getElementById("emailSubscribeInput").value = "";
          })
          .catch((error) => {
            console.error("Error:", error);
            document.getElementById("emailSubscribeInput").value = "";
          });
      }
    });
  });
</script>
