<div class="row align-items-start text-white">
  <div
    style="
      background-color: rgba(255, 255, 255, 0.04);
      border-radius: 0px 20px 0px 20px;
      border: 4px solid transparent;
    "
    class="col-12 col-md p-4"
  >
    <div class="d-flex justify-content-between">
      <h2 class="fw-bold m-0">Hobby</h2>
    </div>

    <p style="color: rgba(255, 255, 255, 0.7)" class="mt-3 mb-4 pb-2">
      Perfect for prototyping and <br class="d-none d-md-block" />
      showcasing side projects
    </p>

    <a
      class="btn btn-primary d-flex justify-content-center align-items-center px-4 fw-normal bg-transparent border-2"
      style="height: 48px"
      type="submit"
      href="https://app.genez.io/auth/signup"
      target="_blank"
    >
      Get started
    </a>

    <div class="mt-2 pt-4 d-none d-md-block">
      <div class="pt-4 mt-4"></div>
    </div>

    <div class="mt-4 pt-2 d-md-none d-block"></div>

    <div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/collaboration-icon.svg" />
        <p class="m-0 mx-3">2 seats across all projects</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/deploy-icon.svg" />
        <p class="m-0 mx-3">1M function invocations</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/cron-icon.svg" />
        <p class="m-0 mx-3">15 min function timeout</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/database-icon.svg" />
        <p class="m-0 mx-3">3 PostgreSQL/MongoDB Databases</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/unlimited-icon.svg" />
        <p class="m-0 mx-3">
          Genezio services: Typesafe, Authentication, Cron Jobs
        </p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/env-icon.svg" />
        <p class="m-0 mx-3">Automatic CI/CD</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/community-icon.svg" />
        <div>
          <p class="m-0 mx-3">Community support</p>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      background-color: rgba(255, 255, 255, 0.09);
      border: 4px solid transparent;
    "
    class="col-12 col-md p-4 mx-0 mx-md-4 my-md-0 my-4 pricing-plan-gradient-border"
  >
    <div class="d-flex justify-content-between">
      <h2 class="fw-bold m-0">Pro</h2>
    </div>

    <p style="color: rgba(255, 255, 255, 0.7)" class="mt-3 mb-4 pb-2">
      For professionals or teams up to 10 people who deploy to production for
      <span style="color: rgba(255, 255, 255, 1)" class="fw-bold"
        >$15/month</span
      >
    </p>

    <div>
      <a
        class="btn btn-primary d-flex justify-content-center align-items-center border-0 px-4 fw-normal"
        style="height: 48px"
        type="submit"
        href="https://app.genez.io/auth/login?redirect=upgrade-now-pro"
        target="_blank"
      >
        Start Now
      </a>
    </div>

    <p class="pt-4 mt-2 mb-4 fw-bold">Everything in Hobby, plus:</p>

    <div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/collaboration-icon.svg" />
        <p class="m-0 mx-3">10 seats across all projects</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/deploy-icon.svg" />
        <p class="m-0 mx-3">2M function invocations</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/cron-icon.svg" />
        <p class="m-0 mx-3">1 hour function timeout</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/database-icon.svg" />
        <p class="m-0 mx-3">10 PostgreSQL/MongoDB Databases</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/unlimited-icon.svg" />
        <p class="m-0 mx-3">Daily website vulnerability scan</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/cron-icon.svg" />
        <p class="m-0 mx-3">1 month history log retention</p>
      </div>

      <div class="d-flex align-items-center mb-4">
        <img src="/images/community-icon.svg" />
        <div>
          <p class="m-0 mx-3">Email/chat support</p>
        </div>
      </div>

      <div class="mt-4 pt-4 d-none d-md-block"></div>
    </div>
  </div>
  <div
    style="
      background-color: rgba(255, 255, 255, 0.04);
      border-radius: 0px 20px 0px 20px;
      border: 4px solid transparent;
    "
    class="col-12 col-md p-4"
  >
    <div class="d-flex justify-content-between">
      <h2 class="fw-bold m-0">Enterprise</h2>
    </div>
    <p style="color: rgba(255, 255, 255, 0.7)" class="mt-3 mb-4 pb-2">
      large organizations<br class="d-none d-md-block" />
      and businesses
    </p>

    <div>
      <button
        class="btn btn-primary open-modal-btn w-100 d-flex justify-content-center align-items-center px-4 fw-normal bg-transparent border-2"
        style="height: 48px"
        type="submit"
      >
        Contact us
      </button>
      {{ partial "contactUsModal.html" . }}
    </div>

    <p class="pt-4 mt-2 mb-4 fw-bold">Everything in Pro, plus:</p>

    <div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/collaboration-icon.svg" />
        <p class="m-0 mx-3">Unlimited seats</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/deploy-icon.svg" />
        <p class="m-0 mx-3">Configurable</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/cron-icon.svg" />
        <p class="m-0 mx-3">Log drains</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/unlimited-icon.svg" />
        <p class="m-0 mx-3">99.99% uptime SLA</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/cron-icon.svg" />
        <p class="m-0 mx-3">Audit logs</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/env-icon.svg" />
        <p class="m-0 mx-3">Full history log retention</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <img src="/images/community-icon.svg" />
        <p class="m-0 mx-3">Advanced support</p>
      </div>
      <div class="mt-4 pt-4 d-none d-md-block"></div>
    </div>
  </div>
</div>
