
              <p class="text-white opacity-50 mb-0">Deploy to local, stage or production with one command.</p>

              <div class="code-title-genezio ms-4 px-3">genezio deploy</div>
                <pre class="pre-code-wrapper-genezio px-4 py-1">
<code>
% ls
client/      server/      genezio.yaml

% genezio deploy --stage dev
Bundling your code...
Deploying your server...

The server was deployed, and the SDK was successfully generated!
You can test it at https://app.genez.io/project/a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8/a1b2c3d4-e5f6-7890-g1h2-i3j4</code>
                </pre>

                <div class="code-title-genezio ms-4 px-3">testing locally</div>
                <pre class="pre-code-wrapper-genezio px-4 py-1">
<code>
% ls
client/      server/      genezio.yaml

% genezio local
Bundling your code...
Starting your local server...

Your local server is running, and the SDK was successfully generated!
Test your code at http://localhost:8083/explore</code>
                </pre>
           