<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{/*
  <meta
    name="description"
    content="DeployApps is a serverless platform for building full-stack web and mobile applications in a scalable and cost-efficient way."
  />
  */}}
  <meta
    name="keywords"
    content="genezio, serverless, platform, full-stack, web, mobile, applications, scalable, cost-efficient"
  />
  <meta name="author" content="DeployApps" />

  <link
    rel="icon"
    href="/images/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="shortcut icon"
    href="/images/favicon.ico"
    type="image/x-icon"
  />

  <meta property="og:title" content="DeployApps" />
  <meta
    property="og:description"
    content="The type safe serverless platform for modern full-stack developers Everything you need to build apps that scale up to millions of users."
  />
  <meta property="og:image" content="{{ .Params.og_image | default
  "https://genez.io/images/og.jpg" }}"> <meta
  property="twitter:image" content="{{ .Params.og_image | default
  "https://genez.io/images/og.jpg" }}">

  <meta
    name="image"
    property="og:image"
    content="https://genez.io/images/og.jpg"
  />

  <meta property="og:url" content="https://genez.io" />
  <meta
    name="twitter:title"
    content="The type safe serverless platform for modern full-stack developers Everything you need to build apps that scale up to millions of users."
  />
  <meta
    name="twitter:description"
    content="The type safe serverless platform for modern full-stack developers Everything you need to build apps that scale up to millions of users."
  />
  <meta name="twitter:url" content="https://genez.io" />
  <meta
    name="twitter:card"
    content="DeployApps is a serverless platform for building full-stack web and mobile applications in a scalable and cost-efficient way."
  />
</head>

{{- partial "libsass" "scss/index.scss" -}}
