<!-- Navbar Container -->
<nav
  id="navbar"
  class="navbar navbarEffect navbar-expand-lg p-0 bg-dark px-3"
  style="border-bottom: 1px solid rgba(255, 255, 255, 0.1); z-index: 4000"
>
  <div
    class="container px-4 py-4"
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
  >
    <!-- Logo -->
    <a class="nav-link" href="/">
      <img
        class="navbar-brand"
        alt="genezio-logo"
        src="/images/genezio-logo.svg"
        height="45px"
        width="135px"
      />
    </a>

    <!-- Mobile Menu Button -->
    <button
      class="navbar-toggler shadow-none border-0"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMobile"
      aria-label="Aria Name"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="white"
          stroke-opacity="0.7"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <!-- Mobile Menu -->
    <div id="navbarMobile" class="collapse navbar-collapse full-display-menu">
      <div class="container">
        {{/* Mobile dropdown header */}}
        <div class="mt-3 mb-5 d-flex align-items-center justify-content-between">
          <a href="/">
          <img
            class="navbar-brand"
            alt="genezio-logo"
            src="/images/genezio-logo.svg"
            height="45px"
            width="135px"
          />
          </a>

          <button
            class="navbar-toggler shadow-none border-0"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMobile"
            aria-label="Aria Name"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 18L18 6M6 6L18 18"
                stroke="white"
                stroke-opacity="0.7"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>

        {{/* Mobile dropdown Links */}}

        <p style="font-size: 12px" class="text-success fw-bold pb-2">Resources</p>
        <a class="opacity-50 text-white text-decoration-none" href="/docs/">
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              style="margin-right: 16px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 7.5H13.5M12 10.5H13.5M6 13.5H13.5M6 16.5H13.5M16.5 7.5H19.875C20.4963 7.5 21 8.00368 21 8.625V18C21 19.2426 19.9926 20.25 18.75 20.25M16.5 7.5V18C16.5 19.2426 17.5074 20.25 18.75 20.25M16.5 7.5V4.875C16.5 4.25368 15.9963 3.75 15.375 3.75H4.125C3.50368 3.75 3 4.25368 3 4.875V18C3 19.2426 4.00736 20.25 5.25 20.25H18.75M6 7.5H9V10.5H6V7.5Z"
                stroke="white"
                stroke-opacity="0.3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div>
              <p class="mb-1 fw-semibold">Docs</p>
              <p style="font-weight: 500; font-size: 12px">Quick start, Features, Examples</p>
            </div>
          </div>
        </a>
        <a class="opacity-50 text-white text-decoration-none" href="/blog/">
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              style="margin-right: 16px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 7.5H13.5M12 10.5H13.5M6 13.5H13.5M6 16.5H13.5M16.5 7.5H19.875C20.4963 7.5 21 8.00368 21 8.625V18C21 19.2426 19.9926 20.25 18.75 20.25M16.5 7.5V18C16.5 19.2426 17.5074 20.25 18.75 20.25M16.5 7.5V4.875C16.5 4.25368 15.9963 3.75 15.375 3.75H4.125C3.50368 3.75 3 4.25368 3 4.875V18C3 19.2426 4.00736 20.25 5.25 20.25H18.75M6 7.5H9V10.5H6V7.5Z"
                stroke="white"
                stroke-opacity="0.3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div>
              <p class="mb-1 fw-semibold">Blog</p>
              <p style="font-weight: 500; font-size: 12px">News, Tutorials, Learning</p>
            </div>
          </div>
        </a>

        <a
          href="/pricing/"
          class="opacity-50 text-white text-decoration-none navbar-toggler shadow-none border-0"
          data-bs-toggle="collapse"
          data-bs-target="#navbarMobile"
          data-bs-dismiss="modal"
          onclick="navigateToSection('/pricing/')"
        >
          <div class="d-flex align-items-center">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              style="margin-right: 16px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 7.5H13.5M12 10.5H13.5M6 13.5H13.5M6 16.5H13.5M16.5 7.5H19.875C20.4963 7.5 21 8.00368 21 8.625V18C21 19.2426 19.9926 20.25 18.75 20.25M16.5 7.5V18C16.5 19.2426 17.5074 20.25 18.75 20.25M16.5 7.5V4.875C16.5 4.25368 15.9963 3.75 15.375 3.75H4.125C3.50368 3.75 3 4.25368 3 4.875V18C3 19.2426 4.00736 20.25 5.25 20.25H18.75M6 7.5H9V10.5H6V7.5Z"
                stroke="white"
                stroke-opacity="0.3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p style="font-size: 16px" class="mb-0 fw-semibold">Pricing</p>
          </div>
        </a>
      </div>

      {{/* Mobile dropdown getting started */}}
      <div class="container">
        <div
          style="
            border-radius: 12px;
            background: radial-gradient(
                97.22% 145.83% at 50% -52.08%,
                #693fb3 0%,
                rgba(105, 63, 179, 0) 100%
              ),
              var(--purple-purple_10, #2c1a4d);
          "
          class="container mb-3 d-flex align-items-center justify-content-center pt-3 pb-2"
        >
          <div class="w-100 d-flex align-items-center justify-content-center flex-column">
            {{/*  <a
              href="https://github.com/Genez-io/genezio"
              target="_blank"
              rel="noopener nofollow"
              class="nav-link text-white opacity-75 fw-normal mx-2 px-1 star-effect d-flex align-items-center"
            >
              <svg
                class="star-effect"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.4807 3.4987C11.6729 3.03673 12.3273 3.03673 12.5195 3.4987L14.6454 8.61016C14.7264 8.80492 14.9096 8.93799 15.1199 8.95485L20.6381 9.39724C21.1369 9.43722 21.3391 10.0596 20.9591 10.3851L16.7548 13.9866C16.5946 14.1238 16.5246 14.3391 16.5736 14.5443L17.858 19.9292C17.9741 20.4159 17.4447 20.8005 17.0177 20.5397L12.2933 17.6541C12.1133 17.5441 11.8869 17.5441 11.7069 17.6541L6.98251 20.5397C6.55551 20.8005 6.02606 20.4159 6.14215 19.9292L7.42664 14.5443C7.47558 14.3391 7.40562 14.1238 7.24543 13.9866L3.04111 10.3851C2.66112 10.0596 2.86335 9.43722 3.36209 9.39724L8.88034 8.95485C9.0906 8.93799 9.27375 8.80492 9.35476 8.61016L11.4807 3.4987Z"
                  stroke="white"
                  stroke-opacity="0.3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Star on GitHub</a
            >  */}}

            <a
              class="btn btn-secondary fw-semibold px-4 py-2 border-0 ms-0 w-100 mt-4 mb-1 d-flex align-items-center justify-content-center"
              style="height: 48px; color: rgba(255, 255, 255, 0.7)"
              type="submit"
              href="https://app.genez.io/auth/login"
              target="_blank"
              id="login-navbar-mobile"
            >
              Login
            </a>
            <a
              class="btn btn-primary fw-semibold px-4 py-2 border-0 ms-0 ms-md-2 newsletterBtn w-100 mt-2 mb-1 d-flex align-items-center justify-content-center"
              style="height: 48px"
              type="submit"
              href="{{ if eq .RelPermalink "/deploy-nodejs-express-on-genezio-serverless/" }}https://app.genez.io/auth/signup?redirect=express-getting-started{{ else }}https://app.genez.io/auth/signup{{ end }}"
              target="_blank"
              id="start-for-free-navbar-mobile"
            >
              Start for free
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop Menu -->
    <div
      class="collapse navbar-collapse d-flex justify-content-between d-none d-lg-block"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link text-white opacity-75 fw-semibold dropdown-toggle"
                  href="#"
                  id="navbarDarkDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Resources

                  <svg
                    class="mx-2"
                    width="10"
                    height="6"
                    viewBox="0 0 10 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.230169 0.209376C0.528748 -0.0777189 1.00353 -0.0684095 1.29063 0.230169L5 4.16792L8.70938 0.230169C8.99647 -0.0684094 9.47125 -0.0777189 9.76983 0.209376C10.0684 0.496471 10.0777 0.971254 9.79063 1.26983L5.54063 5.76983C5.39922 5.91689 5.20401 6 5 6C4.79599 6 4.60078 5.91689 4.45938 5.76983L0.209376 1.26983C-0.0777189 0.971254 -0.0684095 0.496471 0.230169 0.209376Z"
                      fill="white"
                      fill-opacity="0.7"
                    />
                  </svg>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu position-absolute mt-2"
                  style="background-color: rgba(241, 236, 249, 1); padding: 0px 14px 28px 14px"
                  aria-labelledby="navbarDarkDropdownMenuLink"
                >
                  <svg
                    style="top: -16px; left: 20px"
                    class="position-relative"
                    width="15"
                    height="6"
                    viewBox="0 0 15 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M4.77073 1.54732C6.30756 0.112948 8.69245 0.11295 10.2293 1.54732L15 6H0L4.77073 1.54732Z"
                      fill="#F1ECF9"
                    />
                  </svg>

                  <li class="mb-2 pb-1">
                    <a class="dropdown-item d-flex" href="/blog/">
                      <img style="height: 24px" src="/images/blog-icon.svg" />
                      <div class="mx-3">
                        <p style="color: #171717" class="m-0 fw-semibold pb-1">Blog</p>
                        <p style="color: #525252; font-size: 12px" class="m-0 fw-normal">
                          News, Tutorials, Learning
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex"
                      target="_blank"
                      href="/docs/"
                    >
                      <img style="height: 24px" src="/images/documentation-icon.svg" />
                      <div class="mx-3">
                        <p style="color: #171717" class="m-0 fw-semibold pb-1">Documentation</p>
                        <p style="color: #525252; font-size: 12px" class="m-0 fw-medium">
                          Quick start, Features, Examples
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>

         <li class="nav-item active">
          <a
            class="nav-link text-white opacity-75 fw-semibold"
            style="margin-right: 10px"
            href="/pricing/"
            >Pricing</a
          >
        </li>
      </ul>

      <div class="d-flex my-2 my-lg-0 d-flex align-items-center">
        <!-- Login Button -->
        <a
          class="nav-link text-white opacity-75 fw-semibold mx-5"
          href="https://app.genez.io/auth/login"
          target="_blank"
          id="login-navbar"
          rel="noopener nofollow"
          >Login</a
        >

        <!-- Start for Free Button -->
        <a
          class="btn btn-primary my-2 my-sm-0 fw-semibold"
          href="{{ if eq .RelPermalink "/deploy-nodejs-express-on-genezio-serverless/" }}https://app.genez.io/auth/signup?redirect=express-getting-started{{ else }}https://app.genez.io/auth/signup{{ end }}"
          target="_blank"
          rel="noopener nofollow"
          id="start-for-free-navbar"
          >Start for free</a
        >
      </div>
    </div>
  </div>
</nav>

<script>
  function navigateToSection(section) {
    // Navigate to the specified section
    window.location.href = section;
  }

  function mergeQueryParams(url, addQueryParams) {
    const qIndex = url.indexOf('?');
    if (qIndex === -1) {
      if (addQueryParams.toString() === '') return url;

      return url + '?' + addQueryParams.toString();
    }

    const urlParams = new URLSearchParams(url.slice(qIndex));
      urlParams.forEach((value, key) => {
      // Set or overwrite addQueryParams from urlParams
      addQueryParams.set(key, value);
    });

    return url.slice(0, qIndex + 1) + addQueryParams.toString();
  }

  window.addEventListener("DOMContentLoaded", () => {
    const allAnchorTags = document.querySelectorAll('a');
    for (const anchorTag of allAnchorTags) {
      if (!anchorTag.href.startsWith('https://') && !anchorTag.href.startsWith('http://')) {
        continue;
      }

      anchorTag.href = mergeQueryParams(anchorTag.href, new URLSearchParams(window.location.search));
    }
  });
</script>
