<div class="position-relative">
  <p style="font-size: 12px" class="text-success fw-bold text-center my-4 py-3">
    USED AND TRUSTED AT
  </p>
  <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
    <img
      class="navbar-brand d-none d-md-block"
      alt="multiversx-logo"
      src="/images/multiversx-logo.svg"
      loading="lazy"
      height="50px"
      width="294px"
    />
    <img
      class="navbar-brand d-none d-md-block"
      alt="google-logo"
      src="/images/google-logo.svg"
      loading="lazy"
      height="50px"
      width="50px"
    />
    <img
      class="navbar-brand d-none d-md-block"
      alt="splunk-logo"
      src="/images/splunk-logo.svg"
      loading="lazy"
      height="50px"
      width="168px"
    />
    <img
      class="navbar-brand d-none d-md-block"
      alt="uipath-logo"
      src="/images/uipath-logo.svg"
      loading="lazy"
      height="50px"
      width="51px"
    />

    <div
      id="carouselExampleInterval"
      class="carousel slide d-block d-sm-block d-md-none"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img
            alt="multiversx-logo"
            src="/images/multiversx-logo.svg"
            class="d-block w-100 custom-brand-img-item"
            loading="lazy"
            height="50px"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            alt="google-logo"
            src="/images/google-logo.svg"
            class="d-block w-100 custom-brand-img-item"
            loading="lazy"
            height="50px"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            alt="splunk-logo"
            src="/images/splunk-logo.svg"
            class="d-block w-100 custom-brand-img-item"
            loading="lazy"
            height="50px"
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            alt="uipath-logo"
            src="/images/uipath-logo.svg"
            class="d-block w-100 custom-brand-img-item"
            loading="lazy"
            height="50px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
