{{ define "meta_tags" }} {{ end }} {{ define "main" }}

<div class="px-3 bg-dark">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="container"
  >
    <div class="expressWrapper">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-7 col-md-12 col-sm-12">
          <p class="text-success m-0 fs-5 fw-bold mb-1">GENEZIO CLOUD</p>
          <h1 style="z-index: 99" class="fw-bold text-white display-6">
            Every deploy is remarkable<br />Go serverless now.
          </h1>
          <h2
            style="z-index: 99"
            class="fw-medium mb-4 mt-3 text-white opacity-75 fs-6"
            id="expressDescription"
          >
            Deploy and run code without provisioning or managing <br />
            servers, similar to AWS Lambda, Azure Functions, <br />
            and Google Cloud Functions but more
            <span class="text-success">cost-effective and faster</span>.
          </h2>

          <ul style="list-style-type: none" class="text-white p-0">
            <li class="d-flex">
              <img alt="checkMarkIcon" src="/images/table-check-icon.svg" />
              <a style="text-decoration: none" class="opacity-75 mb-0 mx-2 text-white"
                >Up to 4x Faster Cold Start Response Times</a
              >
              <div class="custom-tooltip-container mx-2">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                    stroke="white"
                    stroke-opacity="0.7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="custom-tooltip-text"
                  >Up to 4x Faster Cold Start Response Times than the competition, enhancing user
                  experience and operational efficiency.</span
                >
              </div>
            </li>
            <li class="d-flex my-1">
              <img alt="checkMarkIcon" src="/images/table-check-icon.svg" />
              <a
                style="text-decoration: none"
                class="opacity-75 mb-0 mx-2 text-white"
                href="#lower-cost"
                >Up to 6x Lower Costs</a
              >
              <div class="custom-tooltip-container mx-2">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                    stroke="white"
                    stroke-opacity="0.7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="custom-tooltip-text"
                  >Optimize your budget with our solutions, offering up to 6x cost savings while
                  maintaining top-tier performance and reliability.</span
                >
              </div>
            </li>
            <li class="d-flex">
              <img alt="checkMarkIcon" src="/images/table-check-icon.svg" />
              <a
                style="text-decoration: none"
                class="opacity-75 mb-0 mx-2 text-white"
                href="#auto-scaling"
                >Auto-scaling for 100% Uptime</a
              >
              <div class="custom-tooltip-container mx-2">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                    stroke="white"
                    stroke-opacity="0.7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="custom-tooltip-text"
                  >Our auto-scaling ensures real-time adaptation to traffic, delivering seamless
                  performance and 100% uptime for your business.</span
                >
              </div>
            </li>
          </ul>

          <div id="headerExpressStartForFree" class="d-flex mt-0 mb-3">
            <a
              class="btn btn-primary fw-semibold px-4 py-2 mt-1 mb-1"
              href="https://app.genez.io/auth/signup?redirect=express-getting-started"
              target="_blank"
            >
              Start for free
            </a>
            <a
              class="btn btn-secondary fw-semibold mx-2 px-4 py-2 border-0 text-white opacity-75 mt-1 mb-1"
              href="https://genezio.com/docs/tutorials/how-to-deploy-an-express-app/"
              target="_blank"
            >
              Check our Docs
            </a>
          </div>
        </div>

        <div
          class="col-12 col-lg-5 col-md-12 col-sm-12 d-flex align-items-center justify-content-center"
        >
          <img src="/images/genezioChart.webp" alt="genezio-aws-chart" />
        </div>
      </div>
    </div>

    <div class="position-relative mt-5">
      {{/* Header Colors */}} {{/* Left Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: -35%;
          transform: translateX(-30%);
          background-image: radial-gradient(
              ellipse at center,
              rgba(242, 123, 255, 0.7),
              transparent
            ),
            radial-gradient(ellipse at left, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          width: 100%;
          height: 600px;
          top: -140px;
          left: 100%;
          width: 150vw;
          transform: translateX(-33%);
          filter: blur(325px);
          background-image: linear-gradient(
            to right,
            rgba(242, 123, 255, 0.2),
            rgba(255, 255, 255, 0) 25%
          );
          background-repeat: no-repeat, no-repeat;
          background-position: center;
        "
      ></div>

      {{/* Right Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: 125%;
          transform: translateX(-40%);
          background-image: radial-gradient(ellipse at center, rgba(0, 250, 164, 0.7), transparent),
            radial-gradient(ellipse at right, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <img
        class="pe-none d-none d-lg-block d-xl-block"
        src="/images/wave.svg"
        style="
          mix-blend-mode: screen;
          filter: grayscale(50%);
          opacity: 0.3;
          position: absolute;
          top: -225px;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
        "
        alt="howGenezioWork"
      />
      <p style="font-size: 12px" class="text-success fw-bold text-center mb-4 pb-3">
        USED AND TRUSTED AT
      </p>
      <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
        <img
          class="navbar-brand d-none d-md-block"
          alt="snowflake-logo"
          src="/images/snowflake-full.svg"
          loading="lazy"
          height="50px"
          width="294px"
        />
        <img
          class="navbar-brand d-none d-md-block"
          alt="google-logo"
          src="/images/google-full.svg"
          loading="lazy"
          height="50px"
          width="150px"
        />
        <img
          class="navbar-brand d-none d-md-block"
          alt="bware-logo"
          src="/images/bware-full.svg"
          loading="lazy"
          height="50px"
          width="168px"
        />
        <img
          class="navbar-brand d-none d-md-block"
          alt="uipath-logo"
          src="/images/uipath-full.svg"
          loading="lazy"
          height="50px"
          width="121px"
        />

        <div
          id="carouselExampleInterval"
          class="carousel slide d-block d-sm-block d-md-none"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img
                alt="snowflake-full"
                src="/images/snowflake-full.svg"
                class="d-block w-100 custom-brand-img-item"
                loading="lazy"
                height="50px"
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                alt="google-logo"
                src="/images/google-full.svg"
                class="d-block w-100 custom-brand-img-item"
                loading="lazy"
                height="50px"
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                alt="bware-logo"
                src="/images/bware-full.svg"
                class="d-block w-100 custom-brand-img-item"
                loading="lazy"
                height="50px"
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                alt="uipath-logo"
                src="/images/uipath-full.svg"
                class="d-block w-100 custom-brand-img-item"
                loading="lazy"
                height="50px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-5 mb-3 pb-3">
      CAPABILITIES
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">Key features of Genezio Functions</h2>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">
              Reduced Cold Start Time
            </h3>
            <p class="card-text opacity-75 card-listing mb-4 pb-4">
              Experience faster initialization times, ensuring that your functions are ready to
              handle requests immediately.
            </p>

            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 60px">Easy Deployment</h3>
            <p class="card-text opacity-75 mb-4 pb-3 card-listing">
              Deploy effortlessly with Genezio's intuitive CLI. Quick to install and simple to use,
              it streamlines your deployment process, letting you focus on coding.
            </p>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">
              Cost-Effective Pricing
            </h3>
            <p class="card-text opacity-75 mb-4 pb-3 card-listing">
              Genezio’s predictable pricing model makes deploying serverless applications up to 6x
              more affordable than traditional solutions.
            </p>

            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            {{/* class="card p-2 p-md-4 text-white" */}}
            <h3 class="card-title m-0">Dashboard with test-interface</h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h3 class="card-title m-0">Collaborate with your teammates</h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <h3 class="card-title m-0">Automatic scaling</h3>
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-4 pt-5 mb-3">EDUCATION</p>
    <h2 class="text-white text-center fw-bold m-0 pb-3 mb-5">Our latest article</h2>
    {{/* Our latest article */}} {{ with (index (where site.RegularPages "Type"
    "posts").ByDate.Reverse 0) }}
    <div class="ourLatestArticle row mx-2 px-0 px-md-3 text-white justify-content-center pb-5">
      <div class="px-1">
        <div class="col-lg col-md-12 lastArticleBackground">
          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
          >
            <h3>{{.Title}}</h3>
          </a>

          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
            >Read more -></a
          >
        </div>
      </div>
    </div>
    {{ end }} {{/* End of main container */}}

    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    <p class="m-0">wasd</p>
    {{/* End of main container */}}
  </div>
</div>

<script>
  document.getElementById("presentationVideo").addEventListener("click", function () {
    var video = document.getElementById("presentationVideo");
    video.currentTime = 0; // Reset to beginning
  });
</script>
{{ end }}
