{{ define "meta_tags" }} {{ end }} {{ define "main" }}

<div class="px-3 bg-dark">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="container"
  >
    <div class="d-flex align-items-center justify-content-center flex-column pt-5">
      <h1 style="z-index: 99" class="text-center fw-bold pt-4 text-white display-5">
        No more cold starts and unpredictable costs.<br />
        Deploy your <span class="text-success">Next.js</span> on serverless.
      </h1>

      <p style="z-index: 99" class="fw-medium mb-4 mt-3 text-white text-center opacity-75">
        Enhance your Next.js app performance with Genezio's serverless infrastructure.
      </p>

      <div style="z-index: 99" class="d-flex flex-column flex-md-row w-100 justify-content-center">
        <a
          class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0 mt-2"
          href="https://app.genez.io/auth/signup"
          target="_blank"
        >
          Start for free
        </a>
        <a
          class="btn btn-secondary fw-semibold mx-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
          href="https://genezio.com/docs/getting-started"
          target="_blank"
        >
          Check our Docs
        </a>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-5 pt-5 mb-4 pb-3">
      USED AND TRUSTED AT
    </p>

    <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
      <img
        class="navbar-brand d-none d-md-block"
        alt="snowflake-logo"
        src="/images/snowflake-full.svg"
        loading="lazy"
        height="50px"
        width="294px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="google-logo"
        src="/images/google-full.svg"
        loading="lazy"
        height="50px"
        width="150px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="bware-logo"
        src="/images/bware-full.svg"
        loading="lazy"
        height="50px"
        width="168px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="uipath-logo"
        src="/images/uipath-full.svg"
        loading="lazy"
        height="50px"
        width="121px"
      />

      <div
        id="carouselExampleInterval"
        class="carousel slide d-block d-sm-block d-md-none"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              alt="snowflake-full"
              src="/images/snowflake-full.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="google-logo"
              src="/images/google-full.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="bware-logo"
              src="/images/bware-full.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="uipath-logo"
              src="/images/uipath-full.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative mt-5">
      {{/* Header Colors */}} {{/* Left Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: -35%;
          transform: translateX(-30%);
          background-image: radial-gradient(
              ellipse at center,
              rgba(242, 123, 255, 0.7),
              transparent
            ),
            radial-gradient(ellipse at left, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          width: 100%;
          height: 600px;
          top: -140px;
          left: 100%;
          width: 150vw;
          transform: translateX(-33%);
          filter: blur(325px);
          background-image: linear-gradient(
            to right,
            rgba(242, 123, 255, 0.2),
            rgba(255, 255, 255, 0) 25%
          );
          background-repeat: no-repeat, no-repeat;
          background-position: center;
        "
      ></div>

      {{/* Right Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: 125%;
          transform: translateX(-40%);
          background-image: radial-gradient(ellipse at center, rgba(0, 250, 164, 0.7), transparent),
            radial-gradient(ellipse at right, rgba(255, 255, 255, 0.6) 50%, transparent 50%);
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <img
        class="pe-none d-none d-lg-block d-xl-block"
        src="/images/wave.svg"
        style="
          mix-blend-mode: screen;
          filter: grayscale(50%);
          opacity: 0.3;
          position: absolute;
          top: -225px;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
        "
        alt="howGenezioWork"
      />

      <div
        class="text-white d-flex align-items-center justify-content-center flex-column mb-4 py-5"
        style="background-color: #422f6a; margin: 0 -12px 0 -12px; position: relative"
      >
        <h2
          id="simplifyDeployment"
          class="fw-bold text-white display-6 flow-breaker-header py-4 my-2 text-center"
        >
          Your Next.js on the <span class="text-success">Fastest</span> Function-as-a-Service
          Platform
        </h2>

        <p class="text-center mt-1 w-75 px-4 flow-breaker-p mb-0 fs-5" style="color: #d7d3e0">
          Genezio is a serverless cloud featuring the most efficient
          <b>Function-as-a-Service</b> platform, engineered to overcome the significant challenges
          of traditional solutions like <br />
          AWS Lambda: <b>cold starts</b> and <b>high costs</b>.
        </p>
        <p class="text-center fs-5" style="color: #d7d3e0">
          Find out more about Genezio Functions’
          <span class="text-success"
            >benchmarks
            <a class="text-underline text-success" style="cursor: pointer">here</a>.</span
          >
        </p>

        <div class="d-flex nextPerksWrap">
          <div class="d-flex">
            <p class="m-0 fw-bold">LOWEST COLD START</p>
            <div
              class="custom-tooltip-container mx-2 d-flex align-items-center justify-content-center"
            >
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                  stroke="white"
                  stroke-opacity="0.7"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="custom-tooltip-text"
                >Optimize your budget with our solutions, offering up to 6x cost savings while
                maintaining top-tier performance and reliability.</span
              >
            </div>
          </div>
          <div class="d-flex nextPerksGreenBorder">
            <p class="m-0 fw-bold">LOWER & PREDICTABLE COST</p>
            <div
              class="custom-tooltip-container mx-2 d-flex align-items-center justify-content-center"
            >
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                  stroke="white"
                  stroke-opacity="0.7"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="custom-tooltip-text"
                >Optimize your budget with our solutions, offering up to 6x cost savings while
                maintaining top-tier performance and reliability.</span
              >
            </div>
          </div>
          <div class="d-flex">
            <p class="m-0 fw-bold">AUTO-SCALING</p>
            <div
              class="custom-tooltip-container mx-2 d-flex align-items-center justify-content-center"
            >
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.25 9.25L9.29149 9.22926C9.86461 8.9427 10.5099 9.46034 10.3545 10.082L9.64549 12.918C9.49009 13.5397 10.1354 14.0573 10.7085 13.7707L10.75 13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10ZM10 6.25H10.0075V6.2575H10V6.25Z"
                  stroke="white"
                  stroke-opacity="0.7"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="custom-tooltip-text"
                >Optimize your budget with our solutions, offering up to 6x cost savings while
                maintaining top-tier performance and reliability.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-5 pt-5 mb-3">
      CAPABILITIES
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">Key features</h2>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">Easy deployment</h3>
            <p class="card-text opacity-75 mb-4 pb-3">
              Spend less time on setup and more time on development. Run one command and get your
              app up and running in minutes.
            </p>

            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">Fast Performance</h3>

            <p class="card-text opacity-75 mb-4 pb-3">
              Take advantage of a FaaS platform designed and built with performance and security in
              mind.
            </p>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">Scalability</h3>

            <p class="card-text opacity-75 mb-2 pb-2">
              Whether you're serving a handful of users or millions, our platform scales
              effortlessly to meet your needs without any hassle.
            </p>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body d-flex">
            <div
              class="d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
              style="margin-right: 48px"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>

            <div class="flex flex-column">
              <h3 class="card-title pt-2 mb-2 pb-1">Cost Control</h3>
              <p class="card-text opacity-75 m-0">
                No more unpredictable bills at the end of the month.
              </p>

              <a
                href="https://genezio.com/docs/getting-started"
                target="_blank"
                class="card-link text-white text-decoration-none fw-semibold"
                >Learn more -></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-5 pt-5 mb-3">
      ONE-CLICK STARTERS
    </p>
    <h2 class="text-white text-center fw-bold m-0 pb-3">Try it for yourself</h2>
    <p class="text-white text-center">
      Choose a high-performing Next.js template that fits your needs and get started with just one
      click.
    </p>

    <h4 class="text-white mt-5 pt-3 px-2 fw-bold">Genezio platform showcase</h4>
    <p class="text-white px-2">
      Deploying these community Next.js templates showcases the strength of the Genezio platform.
    </p>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body d-flex">
            <div class="row w-100">
              <div class="col-12 col-md-6">
                <h5>Next.js Getting Started</h5>
                <p>This is a Next.js project bootstrapped with create-next-app.</p>

                <div class="d-flex">
                  <div class="languageBadge">typescript</div>
                  <div class="languageBadge">next.js</div>
                </div>

                <div class="mt-4">
                  <a
                    class="btn btn-primary fw-semibold px-5 py-2 border-0 mt-2"
                    href="https://app.genez.io/auth/signup"
                    target="_blank"
                  >
                    Deploy to Genezio
                  </a>
                  <a
                    class="btn btn-secondary fw-semibold mx-1 px-5 py-2 border-0 text-white opacity-75 mt-2"
                    href="https://genezio.com/docs/getting-started"
                    target="_blank"
                  >
                    View demo
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-6">getting started photo</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="text-white mt-5 pt-3 px-2 fw-bold">Open Source Templates</h4>
    <p class="text-white px-2">Start with one of the open-source community templates right now:</p>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-3 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body p-0">
            <p class="fw-light m-0">medusajs/</p>
            <p class="fw-bold fs-5">nextjs-starter-medusa</p>

            <p>A performant frontend ecommerce starter template with Next.js 14 and Medusa.</p>

            <img
              class="w-100 mb-4"
              alt="next-template1"
              src="/images/nexttemplate1.webp"
              loading="lazy"
            />

            <div style="flex-wrap: wrap" class="d-flex">
              <div class="languageBadge mb-2">typescript</div>
              <div class="languageBadge mb-2">next.js</div>
              <div class="languageBadge mb-2">medusa</div>
              <div class="languageBadge mb-2">tailwind</div>
              <div class="languageBadge mb-2">CSS</div>
            </div>

            <div class="mt-4">
              <a
                class="btn btn-primary fw-semibold px-4 py-2 border-0 mt-2"
                href="https://app.genez.io/auth/signup"
                target="_blank"
              >
                Deploy to Genezio
              </a>
              <a
                class="btn btn-secondary fw-semibold mx-0 mx-md-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
                href="https://genezio.com/docs/getting-started"
                target="_blank"
              >
                View demo
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-3 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body p-0">
            <p class="fw-light m-0">timlrx/</p>
            <p class="fw-bold fs-5">tailwind-nextjs-starter-blog</p>

            <p>
              A sleek & customizable blog template built with Next.js 14, perfect for content
              creators.
            </p>

            <img
              class="w-100 mb-4"
              alt="next-template2"
              src="/images/nexttemplate2.webp"
              loading="lazy"
            />

            <div style="flex-wrap: wrap" class="d-flex">
              <div class="languageBadge mb-2">typescript</div>
              <div class="languageBadge mb-2">next.js</div>
              <div class="languageBadge mb-2">tailwind</div>
              <div class="languageBadge mb-2">CSS</div>
              <div class="languageBadge mb-2">react server component</div>
              <div class="languageBadge mb-2">Contentlayer</div>
            </div>

            <div class="mt-4">
              <a
                class="btn btn-primary fw-semibold px-4 py-2 border-0 mt-2"
                href="https://app.genez.io/auth/signup"
                target="_blank"
              >
                Deploy to Genezio
              </a>
              <a
                class="btn btn-secondary fw-semibold mx-0 mx-md-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
                href="https://genezio.com/docs/getting-started"
                target="_blank"
              >
                View demo
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-3 p-md-4 text-white border-gradient-green"
          style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07)"
        >
          <div class="card-body p-0">
            <p class="fw-light m-0">themeselection/</p>
            <p class="fw-bold fs-5">materio-mui-react-nextjs-admin</p>

            <p>The Most Powerful & Comprehensive free Next.js React admin template based on MUI</p>

            <img
              class="w-100 mb-4"
              alt="next-template3"
              src="/images/nexttemplate3.webp"
              loading="lazy"
            />
            <div style="flex-wrap: wrap" class="d-flex">
              <div class="languageBadge mb-2">typescript</div>
              <div class="languageBadge mb-2">next.js</div>
              <div class="languageBadge mb-2">react</div>
              <div class="languageBadge mb-2">MUI</div>
              <div class="languageBadge mb-2">CSS</div>
            </div>

            <div class="mt-4">
              <a
                class="btn btn-primary fw-semibold px-4 py-2 border-0 mt-2"
                href="https://app.genez.io/auth/signup"
                target="_blank"
              >
                Deploy to Genezio
              </a>
              <a
                class="btn btn-secondary fw-semibold mx-0 mx-md-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
                href="https://genezio.com/docs/getting-started"
                target="_blank"
              >
                View demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-4 pt-5 mb-3">EDUCATION</p>
    <h2 class="text-white text-center fw-bold m-0 pb-3 mb-5">Read more about Next.js Deployment</h2>

    {{/* Our latest article */}} {{ with (index (where site.RegularPages "Type"
    "posts").ByDate.Reverse 0) }}
    <div class="ourLatestArticle row mx-2 px-0 px-md-3 text-white justify-content-center pb-5">
      <div class="px-1">
        <div class="col-lg col-md-12 lastArticleBackground">
          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
          >
            <h3>{{.Title}}</h3>
          </a>

          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
            >Read more -></a
          >
        </div>
      </div>
    </div>
    {{ end }} {{/* End of main container */}}
  </div>
</div>

<script>
  document.getElementById("presentationVideo").addEventListener("click", function () {
    var video = document.getElementById("presentationVideo");
    video.currentTime = 0; // Reset to beginning
  });
</script>
{{ end }}
