{{ define "header_css" }}{{ end }} {{ define "body_classes" }}page-default-single{{ end }} {{ define
"header_classes" }}{{ end }} {{ define "main" }}

<div class="px-3 bg-dark">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0px 40px 0px 40px;
    "
    class="container text-white"
  >
    <div class="py-4">
      <h2 style="font-size: 48px" class="fw-bold text-center py-5 my-2">Our pricing</h2>
    </div>

    <hr class="mt-4" style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -40px" />

    {{/* Monthly / Annual selector */}}
    <div class="d-flex justify-content-end pt-3 mt-4 mb-4 pb-3 text-white opacity-75">
      <a id="monthlyBtn" style="cursor: pointer" class="fw-semibold text-white text-decoration-none"
        >Monthly</a
      >
      <p style="margin: 0 12px" class="fw-semibold">/</p>
      <a id="annualBtn" style="cursor: pointer" class="text-white text-decoration-none">Annual</a>
    </div>
    {{/* Start of plans cards */}}
    <div class="row justify-content-between mx-0 pb-3">
      <div class="col-5 border p-0">
        <h2 class="fw-bold">Your <span class="text-success">personal</span> plan includes</h2>
      </div>
      <div class="col-6 p-0">
        <div
          style="border-bottom-left-radius: 20px; border-top-right-radius: 20px"
          class="card mb-4 p-4 ActivePlanCard text-white"
        >
          <div class="d-flex align-items-center">
            <div class="activeCheckBox">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="0.5" y="0.5" width="19" height="19" rx="9.5" fill="#F9F5FF" />
                <rect x="0.5" y="0.5" width="19" height="19" rx="9.5" stroke="#7F56D9" />
                <circle cx="10" cy="10" r="4" fill="#7F56D9" />
              </svg>
            </div>
            <div>
              <h2 class="mb-2 pb-1 fw-bold">Personal</h2>
              <p class="text-white opacity-50 mb-0">free forever</p>
            </div>
          </div>
        </div>
        <div
          style="border-bottom-left-radius: 20px; border-top-right-radius: 20px"
          class="card mb-4 p-4 notActivePlanCard border-gradient-green text-white"
        >
          <div class="d-flex align-items-center">
            <div class="checkBox"></div>
            <div>
              <h2 class="mb-2 pb-1 fw-bold">Professional</h2>
              <p class="text-white opacity-50 mb-0">$19/ user/ month + usage</p>
            </div>
          </div>
        </div>
        <div
          style="border-bottom-left-radius: 20px; border-top-right-radius: 20px"
          class="card mb-4 p-4 notActivePlanCard border-gradient-green text-white"
        >
          <div class="d-flex align-items-center">
            <div class="checkBox"></div>
            <div>
              <h2 class="mb-2 pb-1 fw-bold">Expert</h2>
              <p class="text-white opacity-50 mb-0">$49/ user/ month + usage</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a
            class="btn btn-secondary d-flex justify-content-center align-items-center fw-semibold mx-4 text-white border-0 px-4"
            style="height: 48px"
            type="submit"
            href="https://docs.genezio.com/genezio-documentation/getting-started"
            target="_blank"
          >
            Contact us
          </a>

          <a
            class="btn btn-primary d-flex justify-content-center align-items-center fw-semibold border-0 px-4"
            style="height: 48px"
            type="submit"
            href="https://docs.genezio.com/genezio-documentation/getting-started"
            target="_blank"
          >
            Choose plan
          </a>
        </div>
      </div>
    </div>
    {{/* end of plans cards */}} {{/* start of used and trusted at */}}
    <hr class="mt-4" style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -40px" />
    <p style="font-size: 12px" class="text-success fw-bold text-center my-4 py-3">
      USED AND TRUSTED AT
    </p>
    <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
      <img
        class="navbar-brand d-none d-md-block"
        alt="multiversx-logo"
        src="/images/multiversx-logo.svg"
        loading="lazy"
        height="50px"
        width="294px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="google-logo"
        src="/images/google-logo.svg"
        loading="lazy"
        height="50px"
        width="50px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="splunk-logo"
        src="/images/splunk-logo.svg"
        loading="lazy"
        height="50px"
        width="168px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="uipath-logo"
        src="/images/uipath-logo.svg"
        loading="lazy"
        height="50px"
        width="51px"
      />

      <div
        id="carouselExampleInterval"
        class="carousel slide d-block d-sm-block d-md-none"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              alt="multiversx-logo"
              src="/images/multiversx-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="google-logo"
              src="/images/google-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="splunk-logo"
              src="/images/splunk-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="uipath-logo"
              src="/images/uipath-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4" style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -40px" />
    {{/* end of used and trusted at */}}

    <p style="font-size: 12px" class="text-success fw-bold text-center mt-4 pt-3 pb-1">
      COMPARISON TABLE
    </p>

    <h2 class="text-center fw-bold mb-4 pb-3">Compare our plans in detail</h2>

    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p>scroll</p>
    <p class="mb-0">scroll</p>
  </div>
</div>

<div class="position-relative">
  <div
    class="position-absolute w-100 bottom-0 pe-none"
    style="
      background: linear-gradient(
        180deg,
        rgba(0, 250, 164, 0) 77.17%,
        rgba(0, 250, 164, 0.47) 100%
      );
      height: 1500px;
    "
  ></div>
</div>

<script>
  const monthlyBtn = document.getElementById("monthlyBtn");
  const annualBtn = document.getElementById("annualBtn");

  // Function to handle button clicks
  function handleButtonClick(btn, otherBtn) {
    btn.classList.add("fw-semibold");
    otherBtn.classList.remove("fw-semibold");
  }

  // Event listener for Monthly button
  monthlyBtn.addEventListener("click", function () {
    handleButtonClick(monthlyBtn, annualBtn);
  });

  // Event listener for Annual button
  annualBtn.addEventListener("click", function () {
    handleButtonClick(annualBtn, monthlyBtn);
  });
</script>

{{ end }}
