{{ define "main" }}
<div class="px-3" style="background-color: #f1ecf9">
  <div
    style="border-left: 1px solid #e2d9f3; border-right: 1px solid #e2d9f3"
    class="container px-2"
  >
    <div class="row px-4 pt-3">
      {{/* TODO: tag */}}

      <a class="text-decoration-none fw-bold pt-4 blogGradientText" style="font-size: 14px"
        >Tutorials</a
      >

      <h2 class="text-black mb-0 mt-2 mb-4 pt-1">{{ .Title }}</h2>
      <div class="col-lg-8">{{ .Content }}</div>
    </div>
  </div>
</div>
{{ end }}
