{{ define "main" }}
<div class="px-3" style="background-color: #f1ecf9">
  <div
    style="border-left: 1px solid #e2d9f3; border-right: 1px solid #e2d9f3"
    class="container px-2"
  >
    <div class="row px-4 pt-3">
            <div class="mt-4">
              {{ if .Params.tags }}
            {{ range .Params.tags }}
            <a class="text-decoration-none fw-semibold blogGradientText" style="font-size: 14px" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          {{ end }}

      <h2 class="text-black fw-bold mb-0 mt-2 mb-4 pb-3 pt-1">{{ .Title }}</h2>
      {{/* TODO: replace with the photo */}}
      <div
        class="mb-4 mt-3 position-relative"
        style="
          height: 450px;
          background-color: #a6b8c0;
          border-bottom-left-radius: 20px;
          border-top-right-radius: 20px;
        "
      >
        {{/* read time */}}
        <div
          class="py-1 px-2 position-absolute"
          style="
            background: rgba(0, 0, 0, 0.2);
            display: inline-block;
            border-radius: 999px;
            bottom: 10px;
            left: 10px;
          "
        >
          <div class="d-flex align-items-center">
            <img src="/images/clock-icon.svg" alt="clock-icon" />
            <p style="font-size: 12px; margin-left: 4px" class="text-white mb-0">
              {{ .Params.readTime }} minutes read
            </p>
          </div>
        </div>
      </div>
      {{/* writer + share on */}}
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center mt-3 pt-3">
        <div class="d-flex">
          <img
            src="/images/writers/{{ .Params.author | urlize  }}.png"
            style="height: 48px; width: 48px"
            class="rounded-circle"
            alt="writer-avatar"
          />
          <div class="d-flex flex-column mx-4">
            <p style="font-size: 14px; color: #171717" class="mb-0 fw-semibold">
              {{ .Params.author }}
            </p>
            <p style="color: #525252" class="mb-0 fw-medium date">
              {{ dateFormat "Jan 02, 2006" .Params.date }}
            </p>
          </div>
        </div>
        <div class="d-flex align-items-center mt-4 mt-sm-0">
          <p class="date mb-0 mx-0 mx-sm-2">Share on:</p>

          <img
            style="border: 1px solid #e2d9f3; cursor: pointer"
            class="rounded-circle p-2"
            src="/images/instagram-logo-green.svg"
            alt="instagram-icon"
          />
          <img
            style="border: 1px solid #e2d9f3; cursor: pointer"
            class="rounded-circle p-2 mx-2"
            src="/images/linkedin-logo-green.svg"
            alt="linkedin-icon"
          />
          <img
            style="border: 1px solid #e2d9f3; cursor: pointer"
            class="rounded-circle p-2"
            src="/images/facebook-logo-green.svg"
            alt="facebook-icon"
          />
        </div>
      </div>
    </div>

    {{/*  TODO: fix:  */}}
    <hr style="border: 1px solid #e2d9f3; margin: 40px -8px 24px -8px" />

    <div class="row px-4 pt-3  pb-5"> 
      <div class="articlePost col-lg-8">{{ .Content }}</div>

      <div class="col-lg-1"></div>

      <div class="articlePost col-lg-3">
        <p class="fw-semibold" style="opacity: .6;">Article contents</p>
      <ul style="list-style: none; padding: 0;">
        WIP
        {{ range $key, $value := .Params.menuItems }}
          <li style="border-left: 1px solid #D9D9D9;" class="px-4" ><a class="pb-2" style="color: #009662; text-decoration: none;" href="#{{ $value }}">{{ $key }}</a></li>
        {{ end }}
      </ul>
      </div>
    </div>


    <!-- Navigation Menu -->
    {{/* Start of Subscribe to our newsletter */}}
    <div class="row px-4 pt-3">
      <div class="col-lg-8">
        <div
          style="
             background: radial-gradient(
              circle at top left,
            rgba(100, 100, 100, 0) -20%,
            -20%, rgb(111, 66, 193) -10%, 
            #21143a 100%                 
            );
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
          "
          class="text-white p-4 mb-3"
        >
          <div class="p-0 p-sm-3"> 
            <h4 class="mb-4">Subscribe to our newsletter</h4>
            <p style="font-size: 14px">
              <span class="opacity-50">Genezio is a serverless platform for building</span>
              <span style="color: #99fddb" class="fw-medium"> full-stack web and mobile</span>
              <span class="opacity-50">applications in a scalable and cost-efficient way.</span>
            </p>

            <div
              class="col-12 d-flex p-0 mx-1 ms-0 align-items-start align-items-md-center flex-column flex-md-row pt-4"
            >
              <form
                id="subscribeForm"
                class="d-flex w-100 align-items-start align-items-md-center flex-column flex-md-row"
              >
                <input
                  type="email"
                  name="email"
                  class="form-control border-0 text-white ms-0 blog-input-white"
                  id="emailSubscribeInput"
                  placeholder="Enter your email"
                  style="background-color: rgba(255, 255, 255, 0.1); height: 48px"
                />
                <button
                  class="btn btn-primary fw-semibold px-4 py-2 border-0 ms-0 ms-md-2 footer-subscribe-btn-custom"
                  style="height: 48px"
                  type="submit"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        {{/* End of Subscribe to our newsletter */}}
      </div>
      </div>
    </div>

    <hr style="border: 1px solid #e2d9f3; margin: 24px -8px 40px -8px" />
        <!-- Start of Navigation Links to Previous and Next Posts -->
        <div class="row px-4 mx-3">
        {{ $allPosts := where site.RegularPages "Type" "posts" }}
        {{ $sortedPosts := $allPosts.ByDate.Reverse }}
        {{ $currentIndex := 0 }}

        {{ range $index, $post := $sortedPosts }}
            {{ if eq .Permalink $.Permalink }}
                {{ $currentIndex = $index }}
            {{ end }}
        {{ end }}

        {{ $prevIndex := add $currentIndex -1 }}
        {{ $nextIndex := add $currentIndex 1 }}

        <div class="col-lg-6 p-0">
            {{ with index $sortedPosts $prevIndex }}
                <a href="{{ .Permalink }}" class="text-decoration-none d-flex align-items-center">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 19.5L8.25 12L15.75 4.5" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    <p  style="color: #009662;" class="fw-medium mx-4 px-3 mb-0">{{ .Title }}</p>
                </a>
            {{ end }}
        </div>

        <div class="col-lg-6 text-right d-flex justify-content-end p-0">
            {{ with index $sortedPosts $nextIndex }}
                <a href="{{ .Permalink }}" class="text-decoration-none d-flex align-items-center">
                  <p style="color: #009662;" class="fw-medium mx-4 px-3 mb-0">{{ .Title }}</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.25 4.5L15.75 12L8.25 19.5" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            {{ end }}
        </div>
    </div>
    <hr style="border: 1px solid #e2d9f3; margin: 40px -8px 40px -8px" />
 <!-- End of Navigation Links to Previous and Next Posts -->
   <div class="row w-100 mx-4 mb-2 pb-4">
      <p style="color: rgba(0, 0, 0, 0.60)" class="m-0 fw-semibold">
        Related articles
      </p>
    </div>

   <div class="row px-1 mx-4 justify-content-center">
    {{ $recentPosts := slice }}
    {{ $allPosts := where site.RegularPages "Type" "posts" }}
    {{ $sortedPosts := $allPosts.ByDate.Reverse }}
    {{ range first 3 $sortedPosts }}
        {{ $recentPosts = $recentPosts | append . }}
    {{ end }}

    {{ range $recentPosts }}
        <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07); background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
               <a class="text-decoration-none" href="{{ .RelPermalink }}">
        <div class="position-relative"  style="height: 195px; background-color: #a6b8c0; border-bottom-left-radius: 20px;border-top-right-radius: 20px">
          {{/*  read time  */}}
          <div class="py-1 px-2 position-absolute" style="background: rgba(0, 0, 0, 0.20); display: inline-block; border-radius: 999px; bottom: 10px; left:10px;">
            <div class="d-flex align-items-center">
              <img src="/images/clock-icon.svg" alt="clock-icon"/>
                <p style="font-size: 12px; margin-left: 4px;" class="text-white mb-0">{{ .Params.readTime }} minutes read</p>
            </div>
          </div>
        </div>
    </a>
                <div class="card-body p-4">
                     <div>
          {{ if .Params.tags }}
          <div class="mb-2 pb-1">
            {{ range .Params.tags }}
            <a class="text-decoration-none blogGradientText fw-bold" style="font-size: 12px;" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </div>
          {{ end }}

          {{/*  Title & preview  */}}
          <a class="text-decoration-none" href="{{ .RelPermalink }}">
            <div class="mb-4"> 
              <h4 class="text-black mb-0" style="height: 64px">
                  {{ if gt (len .Title) 46 }}
                    <script>
                      document.write("{{ .Title | safeJS }}".slice(0, 46) + "...");
                    </script>
                {{ else }}
                    {{ .Title }}
                {{ end }}
              </h4>
              <p style="color: #525252; height: 72px;" class="mt-4 mb-0">
               {{ if gt (len .Params.preview) 123 }}
                    <script>
                      document.write("{{ .Params.preview | safeJS }}".slice(0, 123) + "...");
                    </script>
                {{ else }}
                    {{ .Params.preview }}
                {{ end }}
              </p>
            </div>
          </a>

          {{/*  Writer Details  */}}
          <div class="d-flex">
            <img src="/images/writers/{{ .Params.author | urlize  }}.png" style="height:  48px; width: 48px;" class="rounded-circle " alt="writer-avatar"/>
            <div class="d-flex flex-column mx-4">
              <p style="font-size: 14px; color: #171717;" class="mb-0 fw-semibold">{{ .Params.author }}</p>
              <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
            </div>
          </div>
        </div>  
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{/*  END OF Related articles */}}

    
    <hr style="border: 1px solid #e2d9f3; margin: 32px -8px 40px -8px" />
    
   <div class="row w-100 mx-4 mb-2 pb-4">
      <p style="color: rgba(0, 0, 0, 0.60)" class="m-0 fw-semibold">More from {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}{{ $tag }}{{ end }}</p>
    </div>

    
    {{/*  Start of More from ... section  */}}
    <div class="row px-1 mx-4 justify-content-center">
  {{ if .Params.tags }}
    {{ $tag := index .Params.tags 0 | lower }}
    {{ $relatedPosts := $.Site.Taxonomies.tags.Get $tag }}

    {{ if gt (len $relatedPosts.Pages) 0 }}
      {{ $randomPosts := shuffle $relatedPosts.Pages | first 6 }}
      
      {{ range $index, $post := $randomPosts }}
        {{ if lt $index 3 }}
          <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07);background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
              <div class="card-body p-4">
                {{ with .Params.tags }}
                  {{ range . }}
                    <a class="text-decoration-none fw-bold blogGradientText" style="font-size: 12px" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
                <h4 class="text-black mb-0 mt-2 pt-1" style="height: 64px; font-size:18px;"><a class="text-decoration-none text-black" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                {{/* Writer details */}}
                <div class="d-flex flex-column mt-4">
                  <p style="font-size: 14px; color: #171717;" class="mb-0 mt-4 fw-semibold">{{ .Params.author }}</p>
                  <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ else }}
          {{ if eq $index 3 }}
            </div> <!-- Close the first row -->
            <div class="d-none d-lg-block" style="height: 24px;"></div>
            <div class="row px-1 mx-4 justify-content-center pb-4"> <!-- Start the second row -->
          {{ end }}
          <div class="col-lg col-md-12 p-0 m-2">
            <div class="card border-0" style="border-radius: 0 20px 0 20px; background-color: rgba(255, 255, 255, 0.07);background: radial-gradient(126.84% 129.78% at 0% 40.3%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);">
              <div class="card-body p-4">
                {{ with .Params.tags }}
                  {{ range . }}
                    <a class="text-decoration-none fw-bold blogGradientText" style="font-size: 12px" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
                <h4 class="text-black mb-0 mt-2 pt-1" style="height: 64px; font-size:18px;"><a class="text-decoration-none text-black" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                {{/* Writer details */}}
                <div class="d-flex flex-column mt-4">
                  <p style="font-size: 14px; color: #171717;" class="mb-0 mt-4 fw-semibold">{{ .Params.author }}</p>
                  <p style="color: #525252;" class="mb-0 fw-medium date">{{ dateFormat "Jan 02, 2006" .Params.date }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
      <div class="pb-2"></div>
    </div> <!-- Close the second row -->
    {{ end }}
  {{ end }}
</div> <!-- Close the main container row -->

    {{/*  end of More of ... section  */}}

  

</div>
{{ end }}
