<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {{ .Site.Title }}{{ if ne .Params.title "genezio" }} | {{ with .Params.title }}{{ . }}{{ end
      }}{{ end }}
    </title>

    <link rel=“dns-prefetch” href=“https://cdn-cookieyes.com” />
    <link rel=“dns-prefetch” href=“https://directory.cookieyes.com” />
    <link rel=“dns-prefetch” href=“https://log.cookieyes.com” />

    {{ if eq .Site.BaseURL "https://genezio-landing-page-dev.app.genez.io" }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#6f42c1" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#6f42c1" media="(prefers-color-scheme: dark)" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.png" />

    <!-- Add canonical URL -->
    {{ if .IsHome }}
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}

    <!-- Meta tags for homepage start -->
    <meta name="description" content="{{ .Params.Description }}" />
    <meta property="og:title" content="{{ .Params.Title }}" />
    <meta property="og:description" content="{{ .Params.Description }}" />
    {{/*  <meta property="og:image" content="{{ .Params.meta_og_image }}" />  */}}
    <meta property="og:url" content="{{ .Params.meta_og_url }}" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@GenezioNetwork" />
    <meta name="twitter:creator" content="@GenezioNetwork" />
    <meta name="twitter:title" content="{{ .Params.Title }}" />
    <meta name="twitter:description" content="{{ .Params.Description }}" />

    {{ if eq .Site.BaseURL "https://genezio.com/" }}
    <meta name="robots" content="index,follow" />
    {{ end }} {{ block "meta_tags" . }}{{end}} {{ if eq .Site.BaseURL "https://genezio.com/" }} {{
    end }}
    <!-- Google Tag Manager -->
    <script async defer>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PP95P9BW");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Start Fonts -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      as="style"
      font-display="optional"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
      as="style"
      font-display="optional"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      font-display="optional"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
      font-display="optional"
    />
    <!-- End Fonts -->
  </head>
  {{- partial "head.html" . -}}
  <body>

     <!-- submit template Modal -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      var modal = document.getElementById("submitTemplateModal");
      var btns = document.getElementsByClassName("open-submitTemplate-modal-btn");
      var span = document.getElementById("closeSubmitTemplateModalBtn");
    
      for (var i = 0; i < btns.length; i++) {
        btns[i].onclick = function () {
          modal.style.display = "block";
        };
      }
    
      span.onclick = function () {
        modal.style.display = "none";
      };
    
      window.onclick = function (event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      };
    });
  </script>
  <!-- End of submit template modal -->
     <!-- enterprise us Modal -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      var modal = document.getElementById("enterpriseModal");
      var btns = document.getElementsByClassName("open-enterprise-modal-btn");
      var span = document.getElementById("closeEnterpriseModalBtn");
    
      for (var i = 0; i < btns.length; i++) {
        btns[i].onclick = function () {
          modal.style.display = "block";
        };
      }
    
      span.onclick = function () {
        modal.style.display = "none";
      };
    
      window.onclick = function (event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      };
    });
  </script>
  <!-- End of enterprise Modal -->

    <!-- Contact us Modal -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
      var modal = document.getElementById("myModal");
      var btns = document.getElementsByClassName("open-modal-btn");
      var span = document.getElementById("closeModalBtn");
    
      for (var i = 0; i < btns.length; i++) {
        btns[i].onclick = function () {
          modal.style.display = "block";
        };
      }
    
      span.onclick = function () {
        modal.style.display = "none";
      };
    
      window.onclick = function (event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      };
    });
  </script>
  <!-- End of Contact Us Modal -->
    <!-- Google Tag Manager (noscript) -->
    <noscript async defer>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PP95P9BW"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ if or .Params.customHeader (eq .Params.title "Tutorials") (eq .Params.title "News") (eq .Params.title "Ai") (eq
    .Params.title "Learning") (eq .Params.title "use-cases") }}
    <!-- Custom header content for pages with customHeader variable -->
    {{- partial "blogHeader.html" . -}} {{ else }}
    <!-- Default header content for other pages -->
    {{- partial "header.html" . -}} {{ end }}

    <main>{{- block "main" . }}{{- end }}</main>

    {{ if or .Params.customFooter (eq .Params.title "Tutorials") (eq .Params.title "News") (eq
    .Params.title "Learning") (eq .Params.title "use-cases") (eq .Params.title "Ai") }}
    <!-- Custom footer content for pages with customFooter variable or title equal to "Tutorials" or "News" -->
    {{- partial "blogFooter.html" . -}} {{ else }}
    <!-- Default footer content for other pages -->
    {{- partial "footer.html" . -}} {{ end }}

    <!-- Start of HubSpot Embed Code -->
    {{/* <link rel="preconnect" href="//js-eu1.hs-scripts.com" crossorigin />
    <script
      type="text/javascript"
      id="hs-script-loader"
      loading="lazy"
      async
      defer
      src="//js-eu1.hs-scripts.com/26189618.js"
    ></script>
    */}}
    <!-- End of HubSpot Embed Code -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" async></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      async
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      async
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>

  <script>
    let lastScrollTop = 0;
    const navbar = document.getElementById("navbar");
    const navbarMobile = document.getElementById("navbarMobile");

    window.addEventListener("scroll", function () {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      // Check if the navbarMobile has the "show" class
      const isNavbarMobileVisible = navbarMobile.classList.contains("show");

      if (scrollTop > lastScrollTop && scrollTop > navbar.offsetHeight) {
        if (!isNavbarMobileVisible) {
          navbar.style.top = `-${navbar.offsetHeight}px`;
        }
      } else {
        navbar.style.top = "0";
      }
      lastScrollTop = scrollTop;
    });
  </script>
</html>
