{{ define "meta_tags" }} {{ end }} {{ define "main" }}

<div class="px-3 bg-dark">
  <div
    style="
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    "
    class="container"
  >
    {{/* Header Section */}}
    <div
      class="d-flex align-items-center justify-content-center flex-column pt-5"
    >
      <h1
        style="z-index: 99"
        class="text-center fw-bold pt-4 text-white display-5"
      >
        The <span class="text-success">type safe</span> <br />
        serverless platform for <br />
        modern full-stack developers
      </h1>

      <p
        style="z-index: 99"
        class="fw-medium mb-4 mt-3 text-white text-center opacity-75"
      >
        Everything you need to build apps that scale up to millions of users.
      </p>

      <div
        style="z-index: 99"
        class="d-flex mt-4 flex-column flex-md-row w-100 justify-content-center"
      >
        <a
          class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0 mt-2"
          href="https://app.genez.io/auth/signup"
          target="_blank"
          id="start-for-free-hero"
        >
          Start for free
        </a>
        <a
          class="btn btn-secondary fw-semibold mx-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
          href="https://genezio.com/docs/getting-started"
          target="_blank"
          id="check-our-docs-hero"
        >
          Check our Docs
        </a>
      </div>
    </div>

    {{/* TODO: handle responsive remove this later */}}
    <div style="z-index: 99; position: relative" class="d-none d-sm-block mt-5">
      <img
        class="w-100 mb-5"
        src="/images/hero-3-terminals.webp"
        alt="her0-3-terminals"
        width="1294px"
        height="459px"
        style="
          filter: drop-shadow(0px 50px 30px rgb(0 0 0 / 0.8));
          object-fit: contain;
        "
      />
    </div>

    {{/* big circle */}} {{/*
    <div
      class="pe-none d-none d-lg-block d-xl-block"
      style="
        opacity: 30%;
        position: absolute;
        background: #8c68cd;
        box-shadow: 0px 4px 250px 20px #c5b3e6;
        filter: blur(500px);
        max-width: 1000px;
        width: 100%;
        height: 718px;
        top: 625px;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    ></div>
    */}}

    <div
      class="pe-none d-none d-lg-block d-xl-block"
      style="
        position: absolute;
        background: rgba(140, 104, 205, 0.3);
        filter: blur(500px);
        max-width: 1000px;
        width: 100%;
        height: 718px;
        top: 625px;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    ></div>

    <div
      class="d-block d-sm-none mb-5"
      style="margin-left: -2em !important; margin-right: -1.8em !important"
    >
      <img
        class="w-100"
        src="/images/hero-3-terminals-mobile.webp"
        alt="hero-3-terminals-mobile"
      />
    </div>
    {{/* Hosting included for all plans */}}
    <div class="d-flex align-items-center justify-content-center">
      <div
        style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        class="px-5 py-md-5 py-4 d-md-flex"
      >
        <div class="d-flex justify-content-center">
          <img
            src="/images/hostingIncludedIcon.webp"
            loading="lazy"
            alt="hostingIncludedIcon"
          />
        </div>
        <div class="mx-4 my-4"></div>
        <div class="text-white d-flex justify-content-center flex-column">
          <p class="m-0 opacity-75 fw-semibold">Hosting included</p>
          <p class="m-0 opacity-75 fw-medium text-md-start text-center">
            for all plans
          </p>
        </div>
      </div>
    </div>

    <hr style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px" />

    {{/* USED AND TRUSTED AT */}}
    <p
      style="font-size: 12px"
      class="text-success fw-bold text-center my-4 py-3"
    >
      USED AND TRUSTED AT
    </p>
    <div class="w-100 mx-auto d-flex justify-content-around mb-4 pb-3">
      <img
        class="navbar-brand d-none d-md-block"
        alt="multiversx-logo"
        src="/images/multiversx-logo.svg"
        loading="lazy"
        height="50px"
        width="294px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="google-logo"
        src="/images/google-logo.svg"
        loading="lazy"
        height="50px"
        width="50px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="splunk-logo"
        src="/images/splunk-logo.svg"
        loading="lazy"
        height="50px"
        width="168px"
      />
      <img
        class="navbar-brand d-none d-md-block"
        alt="uipath-logo"
        src="/images/uipath-logo.svg"
        loading="lazy"
        height="50px"
        width="51px"
      />

      <div
        id="carouselExampleInterval"
        class="carousel slide d-block d-sm-block d-md-none"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              alt="multiversx-logo"
              src="/images/multiversx-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="google-logo"
              src="/images/google-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="splunk-logo"
              src="/images/splunk-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              alt="uipath-logo"
              src="/images/uipath-logo.svg"
              class="d-block w-100 custom-brand-img-item"
              loading="lazy"
              height="50px"
            />
          </div>
        </div>
      </div>
    </div>

    {{/* Your app, your code, your data! */}} {{/* Your app, your code, your
    data! */}}
    <div class="position-relative">
      {{/* Header Colors */}} {{/* Left Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: -35%;
          transform: translateX(-30%);
          background-image: radial-gradient(
              ellipse at center,
              rgba(242, 123, 255, 0.7),
              transparent
            ),
            radial-gradient(
              ellipse at left,
              rgba(255, 255, 255, 0.6) 50%,
              transparent 50%
            );
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          width: 100%;
          height: 600px;
          top: -140px;
          left: 100%;
          width: 150vw;
          transform: translateX(-33%);
          filter: blur(325px);
          background-image: linear-gradient(
            to right,
            rgba(242, 123, 255, 0.2),
            rgba(255, 255, 255, 0) 25%
          );
          background-repeat: no-repeat, no-repeat;
          background-position: center;
        "
      ></div>

      {{/* rgba(242, 123, 255, 0.2), rgba(255, 255, 255, 0) 25% */}} {{/* Right
      Color */}}
      <div
        class="pe-none d-none d-lg-block d-xl-block"
        style="
          position: absolute;
          height: 800px;
          filter: blur(325.484375px);
          top: -180px;
          left: 125%;
          transform: translateX(-40%);
          background-image: radial-gradient(
              ellipse at center,
              rgba(0, 250, 164, 0.7),
              transparent
            ),
            radial-gradient(
              ellipse at right,
              rgba(255, 255, 255, 0.6) 50%,
              transparent 50%
            );
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          width: 80em;
          filter: blur(200px);
        "
      ></div>

      <img
        class="pe-none d-none d-lg-block d-xl-block"
        src="/images/wave.svg"
        style="
          mix-blend-mode: screen;
          filter: grayscale(50%);
          opacity: 0.3;
          position: absolute;
          top: -225px;
          left: 50%;
          transform: translateX(-50%);
          width: 100vw;
        "
        alt="howDeployAppsWork"
      />

      <div
        class="text-white d-flex align-items-center justify-content-center flex-column mb-4 py-5"
        style="
          background-color: #422f6a;
          margin: 0 -12px 0 -12px;
          position: relative;
        "
      >
        <h2
          class="fw-bold text-white display-5 flow-breaker-header py-4 my-2 text-center"
        >
          Your app, <span class="d-block d-sm-none"></span>your code,
          <span class="d-block d-sm-none"></span>your data.
        </h2>
        {{/* TODO: fix width */}}
        <p
          class="text-center opacity-75 fw-medium mt-1 w-75 px-4 flow-breaker-p"
        >
          If you are a full-stack developer who needs to build, deploy and
          maintain web, mobile or enterprise apps that scale automatically, and
          use type safe frontend-backend communication, then DeployApps is for you.
          There are many solutions that are easy to use, but hide their magic
          and trap you in. With DeployApps, you own all the code and the databases
          that we help you set up.
        </p>

        <div
          class="d-flex mt-4 pt-2 pb-4 mb-1 flex-column flex-md-row w-100 px-4 justify-content-center"
        >
          <a
            class="btn btn-primary fw-semibold mx-1 px-4 py-2 border-0 mt-2"
            href="https://app.genez.io/auth/signup"
            target="_blank"
            >Start for free</a
          >
          <a
            class="btn btn-secondary fw-semibold mx-1 px-4 py-2 border-0 text-white opacity-75 mt-2"
            href="https://genezio.com/docs/getting-started"
            target="_blank"
          >
            Check our Docs
          </a>
        </div>
      </div>
    </div>
    {{/* Enhance yourself */}}
    <p
      id="features"
      style="font-size: 12px"
      class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3"
    >
      CAPABILITIES
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">
      DeployApps in a nutshell
    </h2>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">
              Type safe RPC backend breaks less often
            </h3>
            {{/*
            <p class="card-text opacity-75 mb-4 pb-3">
              From idea to deployed app - you pick a template for the backend
              and one for the frontend, your choice of mono or multirepo and in
              2 minutes you will have everything set up!
            </p>
            */}}
            <ul style="margin-bottom: 86px" class="px-3 card-listing">
              <li>
                <b>Full static</b> type safety with auto-completion in your
                favorite editor. <b>Dynamic</b> type safety at runtime.
              </li>
              <li>
                Tested and production ready for <b>TypeScript</b> BE/FE. Beta
                support for <b>GoLang</b>, <b>Kotlin</b> and <b>DART</b>.
              </li>
              <li>
                Export the resulting SDK using dependency managers such as NPM
                Registry - private to your team or public for anybody to use.
              </li>
            </ul>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 60px">
              Easy to use databases, queues, crons, auth...
            </h3>
            {{/*
            <p class="card-text opacity-75 mb-4 pb-3">
              No vendor lock in. Everything you build with us is code that is
              yours to own. Template code, code generated for the typesafe API,
              our example code, code generated by our LLM tools - all is yours
              to own and use how you want. DeployApps will be open source and will
              integrate with other open source tools forever.
            </p>
            */}}
            <ul style="margin-bottom: 87px" class="px-3 card-listing">
              <li>
                <b>Databases</b> - provisioned by us or you can bring your own.
                Table creation and CRUD boilerplate functions generated through
                LLM.
              </li>
              <li>
                <b>Cron jobs</b> - scheduled to be executed up to a minute
                granularity.
              </li>
              <li>
                User <b>authentication</b> module - works on any database.
              </li>
              <li>
                <b> Email service</b> - use it in your code to send emails to
                your users securely.
              </li>
            </ul>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div
              class="mb-4 d-flex align-items-center justify-content-center rounded-circle wrapper-logo-features"
            >
              <img
                class="navbar-brand"
                alt="genezio-logo-icon-black"
                src="/images/genezio-logo-icon-black.svg"
                width="45px"
                height="49px"
                loading="lazy"
              />
            </div>
            <h3 class="card-title pt-2 mb-2 pb-1" style="min-height: 64px">
              Host your app for free with auto-scaling
            </h3>
            {{/*
            <p class="card-text opacity-75 mb-4 pb-3">
              If you started with a Firebase-like framework that offers a
              database and access functions, and you want to outgrow that, with
              genezio you can write full business logic that scales separately.
              Oftentimes you can move the business logic from the frontend to
              the backend code with minimal changes.
            </p>
            */}}
            <ul class="px-3 card-listing">
              <li>
                Framework agnostic, works with
                <b>React, Vue, Angular, Svelte, ExpressJS, Fastify</b>, etc.
              </li>
              <li>
                Developer experience enhanced bundling - minimal package
                generated automatically.
              </li>
              <li>
                <b>Deploy the backend</b> on managed AWS or DeployApps.Cloud.
                <b>Frontend deployment</b> with CDN.
              </li>
              <li>
                Multiple <b>staging environments</b> supported,
                <b>production</b> deployment as well as <b>local</b> development
                environment.
              </li>
            </ul>
            <a
              href="https://genezio.com/docs/getting-started"
              target="_blank"
              class="card-link text-white text-decoration-none fw-semibold"
              >Learn more -></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            {{/* class="card p-2 p-md-4 text-white" */}}
            <h3 class="card-title m-0">Dashboard with test-interface</h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <h3 class="card-title m-0">Collaborate with your teammates</h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <h3 class="card-title m-0">Automatic scaling</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-md-3 pb-md-3 justify-content-center">
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <h3 class="card-title m-0">View and search live logs</h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <h3 class="card-title m-0">
              Framework agnostic - React, Vue, Svelte, etc
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-2 p-md-4 text-white border-gradient-green h-100"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <h3 class="card-title m-0">Open source community</h3>
          </div>
        </div>
      </div>
    </div>

    {{/* DeployApps in a nutshell */}} {{- partial "theCode.html" . -}} {{/* Our
    latest article */}}
    <p
      style="font-size: 12px"
      class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3"
    >
      EDUCATION
    </p>
    <h2 class="text-white text-center fw-bold mb-4 pb-3">Our latest article</h2>

    {{/* Our latest article */}} {{ with (index (where site.RegularPages "Type"
    "posts").ByDate.Reverse 0) }}
    <div
      class="ourLatestArticle row mx-2 px-0 px-md-3 text-white justify-content-center pb-3"
    >
      <div class="px-1">
        <div class="col-lg col-md-12 lastArticleBackground">
          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
          >
            <h3>{{.Title}}</h3>
          </a>

          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="card-link text-white text-decoration-none fw-semibold"
            >Read more -></a
          >
        </div>
      </div>
    </div>
    {{ end }}

    <hr
      style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px"
      class="mt-4"
    />

    {{/* Testimonials */}}
    <p
      style="font-size: 12px"
      class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3"
    >
      TESTIMONIALS
    </p>
    <h2
      style="z-index: 99"
      class="text-white text-center fw-bold mb-4 pb-3 position-relative"
    >
      Don't take our <span class="d-block d-sm-none"></span>word for it
    </h2>

    <div
      style="z-index: 99"
      class="row mx-2 pb-2 justify-content-center position-relative"
    >
      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <img
                  style="height: 48px; width: 48px"
                  class="rounded-circle"
                  src="/images/testimonial2.webp"
                  alt="testimonial-user-2"
                  loading="lazy"
                />

                <div class="mx-3 me-0">
                  <p class="mb-0 fw-semibold">Daniel M</p>
                  <p style="font-size: 14px" class="mb-0">CEO @DeFiBuilder</p>
                </div>
              </div>

              <a
                href="https://www.g2.com/products/genezio/reviews/genezio-review-8869260"
                target="_blank"
                rel="noopener nofollow"
              >
                <img
                  class="mx-2 footer-social-logo"
                  alt="g2-logo"
                  src="/images/g2-logo.svg"
                  width="24px"
                  height="24px"
                  loading="lazy"
                />
              </a>
            </div>

            <p class="mt-4 opacity-75">
              Using their SDK, I was able to deploy complex functionalities with
              an ease that I hadn't experienced before. The integration process
              is so streamlined and user-friendly that even those with a basic
              understanding of JavaScript can navigate it with confidence.
            </p>
          </div>
        </div>
      </div>

      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <img
                  style="height: 48px; width: 48px"
                  class="rounded-circle"
                  src="/images/testimonial4.webp"
                  loading="lazy"
                  alt="testimonial-user-1"
                />

                <div class="mx-3 me-0">
                  <p class="mb-0 fw-semibold">Cosmin Gamanusi</p>
                  <p style="font-size: 14px" class="mb-0">SWE @Bware Labs</p>
                </div>
              </div>

              <a
                href="https://www.linkedin.com/in/cosmin-gamanusi/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                target="_blank"
                rel="noopener nofollow"
              >
                <img
                  class="mx-2 footer-social-logo"
                  alt="linkedin-logo"
                  src="/images/linkedin-logo.svg"
                  width="24px"
                  height="24px"
                  loading="lazy"
                />
              </a>
            </div>

            <p class="mt-4 opacity-75">
              DeployApps has significantly improved my development workflow, both
              for my startup projects and at work. The platform enables me to
              quickly develop, test, and deploy new features. Its ease of
              integration allowed my team to offload work seamlessly, enhancing
              our productivity. DeployApps’s efficient and user-friendly interface
              has made it a valuable tool in our development process.
            </p>
          </div>
        </div>
      </div>

      {{/* Card */}}
      <div class="col-lg col-md-12 m-2">
        <div
          class="card p-4 text-white border-gradient-green"
          style="
            border-radius: 0 20px 0 20px;
            background-color: rgba(255, 255, 255, 0.07);
          "
        >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div class="d-flex">
                <img
                  style="height: 48px; width: 48px"
                  class="rounded-circle"
                  src="/images/testimonial3.webp"
                  alt="testimonial-user-3"
                  loading="lazy"
                />

                <div class="mx-3">
                  <p class="mb-0 fw-semibold">Laurentiu Ciobanu</p>
                  <p style="font-size: 14px" class="mb-0">CTO @Sessions</p>
                </div>
              </div>

              <a
                href="https://www.linkedin.com/posts/laurentiu-ciobanu_running-rust-on-genezio-you-heard-me-right-activity-7142892752794546176-TTa5/?utm_source=share&utm_medium=member_desktop"
                target="_blank"
                rel="noopener nofollow"
              >
                <img
                  class="mx-2 footer-social-logo"
                  alt="linkedin-logo"
                  src="/images/linkedin-logo.svg"
                  width="24px"
                  height="24px"
                  loading="lazy"
                />
              </a>
            </div>

            <p class="mt-4 opacity-75">
              It was a pleasant and frictionless experience: from my TypeScript
              code to the cloud in less than 3 minutes (including creating an
              account, installing the CLI, and logging in with the CLI).
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr
      class="mt-4"
      style="border: 1px solid rgba(255, 255, 255, 0.1); margin: 0 -13px"
    />

    {{/* FAQ */}}
    <p
      style="font-size: 12px"
      class="mb-3 pb-1 text-success fw-bold text-center mt-4 pt-3 position-relative"
      style="z-index: 99"
    >
      FAQ
    </p>
    <h2
      class="text-white text-center fw-bold mb-4 pb-3 position-relative"
      style="z-index: 99"
    >
      Your questions answered
    </h2>

    <div class="px-md-4 pb-3 mx-1">
      <div
        class="accordion text-white pb-4 position-relative"
        style="border-top: 1px solid rgba(255, 255, 255, 0.1); z-index: 99"
        id="accordionExample"
      >
        {{/* Question 1 */}}
        <div class="accordion-item py-2 my-2 text-white">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              What are some type of apps that can be built on DeployApps?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body px-5 py-2 mx-4">
              DeployApps is used by our clients to build and host full-stack apps.
              These include a variety of full-stack Web Apps, Mobile Apps,
              Enterprise automation apps, and Blockchain enabled apps. Also,
              some developers use DeployApps just to set up scheduled tasks or to
              keep an API key private in a part of their app that runs in the
              background. To learn more and see examples, check out our
              <a
                style="text-decoration: none"
                class="text-success"
                href="https://genezio.com/docs/examples/"
                target="_blank"
                >docs</a
              >.
            </div>
          </div>
        </div>
        {{/* Question 2 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              I already have a DevOps team, do I still need DeployApps?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              Your DevOps team is probably pretty busy, so in order to try out a
              pilot project, it's much easier to use our serverless approach.
            </div>
          </div>
        </div>

        {{/* Question 3 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse3"
              aria-expanded="false"
              aria-controls="collapse3"
            >
              Is DeployApps.RPC better than tRPC?
            </button>
          </h2>
          <div
            id="collapse3"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              tRPC is an amazing library to add type safe calls to TypeScript
              frontends and backends. DeployApps.RPC allows developers to write the
              backend in, say, Go, and call the exported type safe API from a
              react frontend.
            </div>
          </div>
        </div>
        {{/* Question 4 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse4"
              aria-expanded="false"
              aria-controls="collapse4"
            >
              Why not stick with REST?
            </button>
          </h2>
          <div
            id="collapse4"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              REST is a flexible standard that is very well suited to open APIs.
              We have created DeployApps.RPC to allow developers to design a
              backend that doesn't necessarily fit into the REST paradigm. We
              see more and more developers interested in ensuring type safety
              and consistent design for the frontend-backend communication. This
              is the best way to ensure less things break as they change things.
            </div>
          </div>
        </div>
        {{/* Question 5 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse5"
              aria-expanded="false"
              aria-controls="collapse5"
            >
              Is DeployApps a Backend-as-a-Service?
            </button>
          </h2>
          <div
            id="collapse5"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              DeployApps.Services is similar to a BaaS in the sense that offers a
              wide variety of out-of-the-box services to help you be more
              productive. Implementing authentication, setting up cron jobs and
              working with databases and queues are one click away. They are
              designed to save you time and effort when developing and
              maintaining your applications. The differences steam from the fact
              that DeployApps enables you to write your own backend business logic.
              Also, in DeployApps the database is not exposed directly to the
              frontend, enhancing security and separation of concern.
            </div>
          </div>
        </div>
        {{/* Question 6 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse6"
              aria-expanded="false"
              aria-controls="collapse6"
            >
              Is DeployApps a Serverless Paradigm?
            </button>
          </h2>
          <div
            id="collapse6"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              DeployApps.Cloud ensures that you can deploy applications in a
              serverless fashion, and instantly have a secure, publicly
              available deployment. After you create, build, and test your
              application locally, you can deploy it to DeployApps Cloud. You can
              now deploy on production on our managed AWS account. You can also
              start experimenting on our own serverless cloud that offers zero
              cold start penalty for backend functions and lower, predictable
              cost.
            </div>
          </div>
        </div>
        {{/* Question 7 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse7"
              aria-expanded="false"
              aria-controls="collapse7"
            >
              What programming languages can be used to build apps with DeployApps?
            </button>
          </h2>
          <div
            id="collapse7"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              You can build your apps using TypeScript for both backend and
              frontend, which is tested and production-ready. We also offer beta
              support for Kotlin and DART, and are working towards enabling
              support for GoLang and Swift.
            </div>
          </div>
        </div>
        {{/* Question 8 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse8"
              aria-expanded="false"
              aria-controls="collapse8"
            >
              Which web frameworks are compatible with DeployApps?
            </button>
          </h2>
          <div
            id="collapse8"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              DeployApps is compatible with various frameworks like React, Vue,
              Angular, Svelte, Flutter, ExpressJS, Fastify, and more, thanks to
              its framework-agnostic nature.
            </div>
          </div>
        </div>
        {{/* Question 9 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse9"
              aria-expanded="false"
              aria-controls="collapse9"
            >
              I have a simple app that uses a Firebase or Supabase backend. Do I
              need DeployApps?
            </button>
          </h2>
          <div
            id="collapse9"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              If all you need is a database exposed to the frontend, then
              DeployApps is not very useful. However, when your business logic
              becomes more complex, you will need to implement it in a backend,
              and DeployApps is a perfect solution for that.
            </div>
          </div>
        </div>
        {{/* Question 11 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse11"
              aria-expanded="false"
              aria-controls="collapse11"
            >
              Can I use DeployApps without creating an account?
            </button>
          </h2>
          <div
            id="collapse11"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              Yes, you can try out DeployApps locally without an account. An
              account is only required if you wish to deploy a project on our
              platform. See
              <a
                style="text-decoration: none"
                class="text-success"
                href="https://genezio.com/docs/"
                target="_blank"
              >
                our docs
              </a>
              for how to do this.
            </div>
          </div>
        </div>
        {{/* Question 12 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse12"
              aria-expanded="false"
              aria-controls="collapse12"
            >
              What are the advantages of DeployApps vs other cloud platforms?
            </button>
          </h2>
          <div
            id="collapse12"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              If your application requires more than a database, DeployApps is the
              ideal solution. Here are some key benefits:
              <ol class="p-0">
                <li>
                  Flexibility: DeployApps supports various programming languages,
                  making it more versatile for developers with different tech
                  stacks.
                </li>
                <li>
                  Type Safety: DeployApps provides a type safe interface, reducing
                  errors and enhancing code quality.
                </li>
                <li>
                  Full-Stack Support: You can connect DeployApps with any frontend,
                  whether it's for web, mobile, or desktop applications, and
                  still maintain type safety.
                </li>
                <li>
                  Productivity: DeployApps offers a range of built-in services like
                  authentication, cron jobs and database integration, making
                  development faster and more efficient.
                </li>
                <li>
                  Scalability: DeployApps ensures auto-scalability for your
                  applications, adapting to traffic demands effortlessly.
                </li>
              </ol>
            </div>
          </div>
        </div>

        {{/* Question 14 */}}
        <div
          class="accordion-item py-2 my-2 text-white"
          style="border-top: 1px solid rgba(255, 255, 255, 0.1)"
        >
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button shadow-none collapsed fw-medium"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse14"
              aria-expanded="false"
              aria-controls="collapse14"
            >
              What type of content can I host?
            </button>
          </h2>
          <div
            id="collapse14"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div style="color: #d4d4d4" class="accordion-body py-2 px-5 mx-4">
              You are fully responsible for the content you host with us. Any
              type of illegal or offensive content is forbidden. Please refer to
              our terms of use for further details. We reserve the right to take
              down your app if it violates our terms of use without any notice.
            </div>
          </div>
        </div>

        {{/* */}}
      </div>
    </div>
    {{/* End of main container */}}
  </div>
</div>

<div class="position-relative">
  <div
    class="position-absolute w-100 bottom-0 pe-none"
    style="
      background: linear-gradient(
        180deg,
        rgba(0, 250, 164, 0) 77.17%,
        rgba(0, 250, 164, 0.47) 100%
      );
      height: 5200px;
    "
  ></div>
</div>

{{ end }}
