.articlePost {
  p {
    color: #171717;
    font-size: 16px;
    font-weight: 500;
  }

  pre {
    border: 1px solid green;
    padding: 20px;
    background-color: rgba(64, 64, 64, 1) !important;
    color: #fff;
    border-radius: 8px;
    border: none;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 80px;
  }

  h3 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
