@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// TODO: remove this
// body {
//   overflow-x: hidden;
// }

// TODO: remove this
main {
  background-color: #21143a;
}

input::placeholder {
  color: white !important;
}

// TODO: remove this
.btn,
.accordion-button {
  font-family: "Inter", sans-serif !important;
}

// TODO: remove this css
h1,
h4,
p,
a,
button {
  font-family: "Inter", sans-serif;
}

// Custom Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Accordion
$accordion-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-color: $white;
$accordion-button-active-color: $white;
$accordion-border-width: 0;
$accordion-button-icon: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.6485 15.2484C17.1799 15.7171 16.4201 15.7171 15.9515 15.2484L12 11.297L8.04853 15.2484C7.5799 15.7171 6.8201 15.7171 6.35147 15.2484C5.88284 14.7798 5.88284 14.02 6.35147 13.5514L11.1515 8.75137C11.6201 8.28274 12.3799 8.28275 12.8485 8.75137L17.6485 13.5514C18.1172 14.02 18.1172 14.7798 17.6485 15.2484Z" fill="#00FAA4"/></svg>');
$accordion-button-active-icon: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.6485 15.2484C17.1799 15.7171 16.4201 15.7171 15.9515 15.2484L12 11.297L8.04853 15.2484C7.5799 15.7171 6.8201 15.7171 6.35147 15.2484C5.88284 14.7798 5.88284 14.02 6.35147 13.5514L11.1515 8.75137C11.6201 8.28274 12.3799 8.28275 12.8485 8.75137L17.6485 13.5514C18.1172 14.02 18.1172 14.7798 17.6485 15.2484Z" fill="#00FAA4"/></svg>');

.accordion-button:after {
  order: -1; //swap order
  margin: 0 24px 0 10px !important;
}

// Custom defaults
$primary: #6f42c1;
$secondary: #ffffff1a;
$dark: #21143a;
$success: #00faa4;
$blue: #0d6efd !default;
$indigo: #21143a !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

.custom-brand-img-item {
  height: 50px;
}

.footer-social-logo:hover {
  transform: scale(1.2);
}

// import bootstrap from node modules
// TODO: for a better performance let's import only the parts that we are using from bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./the-code.scss";

.border-gradient-green {
  border-image-source: linear-gradient(
    to right,
    #ffffff00 5%,
    rgba(0, 250, 164, 0.4) 20%,
    #ffffff00 60%
  ) !important;
  border-image-slice: 1 !important;
  border-width: 1px !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.wrapper-logo-features {
  width: 96px;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

@media (max-width: 768px) {
  .flow-breaker-header {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.104px;
  }

  .flow-breaker-p {
    width: 100% !important;
  }
}
