.modal {
    display: none;
    position: fixed;
    z-index: 5000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    // overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    cursor: auto;
  }
  
  .contact-us-modal-header h3{
    color: #33475b;
    text-align: left;
}

.contact-us-modal-description {
    color: #666666 ;
    text-align: left;
}
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
    cursor: pointer;
    vertical-align: top;
    line-height: 0.5;
  }