.pagination {
  color: #009662;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
  padding: 40px 0;

  .pagination-numbers {
    color: #009662 !important;
  }

  .pagination-link {
    color: #009662 !important;
  }
}
