.articlePost {
  td {
    text-align: left !important;
    border: 1px solid #e2d9f3 !important;
    padding: 10px;
  }
  th {
    text-align: left !important;
  }
  .copy-button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .activeSection {
    border-left: 1px solid rgba(0, 150, 98, 1) !important;
    a {
      color: #009662 !important;
    }
  }

  p {
    color: #171717;
    font-size: 16px;
    font-weight: 400;
  }

  pre {
    position: relative;
    border: 1px solid green;
    padding: 20px;
    background-color: rgba(64, 64, 64, 1) !important;
    color: #fff;
    border-radius: 8px;
    border: none;

    &:hover {
      .copy-button {
        opacity: 1; /* display copy button on hover */
      }
    }
  }

  code:not(pre code) {
    color: red; // TODO: search for a good color for code tag that is not inside pre tag
  }

  h2 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 80px;
  }

  h3 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  a {
    color: #171717;
    font-weight: 500;
  }

  img {
    max-width: 100%;
  }
}
